page-pdfs-e-dicas {
  .tabs-header {
    background-color: #0078ac;
    margin-left: -16px;
    margin-top: -16px;
    margin-right: -18px;
    color: white;

    display: flex;

    .header {
      flex: 0 0 50%;
      text-align: center;
      font-size: 20px;
      padding: 16px;
      height: 100%;
      transition: all .4s ease;

      &.active {
        background-color: #006c9c;
      }
    }
  }

  .lista-pdf>div {
    display: flex;
    line-height: 80px;
    height: 80px;
    font-size: 18px;
    justify-content: space-between;
    border-bottom: 1px solid #006c9c;

    .titulo {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .icones {
      flex: 0 0 auto;
      height: 100%;

      button {
        background-color: transparent;
        border: 0;
        height: 100%;
        font-size: 16px;
        color: #b2b2b2;

      }
    }
  }

  .dicas {
    display: flex;
    flex-wrap: wrap;
    @media(min-width: 991px) {
      margin-left: -32px;
      margin-right: -32px;
    }
    .item {
      margin-left: -32px;
      margin-right: -32px;
      margin-top: -16px;
      margin-bottom: 32px;
      flex: 0 0 calc(100% + 64px);
      width: 100%;

      @media(min-width: 991px) {
        margin-left: 0;
      margin-right: 0;
      margin-top: -16px;
        width: 50%;
        flex: 0 0 50%;
      }

      img {
        object-fit: cover;
        object-position: center center;
        height: 200px;
        width: 100%;
        display: block;
      }

      .titulo {
        text-transform: uppercase;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 10px;
        padding-bottom: 8px;
        font-weight: bold;
      }

      .descricao {
        white-space: pre-wrap;
        padding-left: 45px;
        padding-right: 45px;
        padding-bottom: 35px;
        @media(min-width:991px) {
          display: block!important;
        }
      }
    }


  }
}
