<!--
  Generated template for the CodigoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header [title]="_pdfs.list.length ? 'CONTEÚDOS E DICAS' : 'DICAS'"></header>
</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="onRefresher()">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <div class="tabs-header"  *ngIf="_pdfs.list.length" >
    <div class="header" cursor-pointer (click)="openTab('pdf')" [ngClass]="{active: active == 'pdf'}">CONTEÚDOS</div>
    <div class="header" cursor-pointer (click)="openTab('dicas')" [ngClass]="{active: active == 'dicas'}">DICAS</div>
  </div>
  <div padding>

    <div class="lista-pdf" *ngIf="active == 'pdf'">

      <div *ngFor="let item of _pdfs.list">
        <div class="titulo" cursor-pointer (click)="_pdfs.open(item)">{{ item.titulo }}</div>
        <div class="icones">
          <!-- <button cursor-pointer (click)="_pdfs.favoritar(item)">
            <ion-icon name="duo-star" [color]="item.favoritado ? 'yellow' : ''"></ion-icon>
          </button> -->
          <button cursor-pointer (click)="_pdfs.open(item)">PDF</button>
        </div>
      </div>

      <div *ngIf="!_pdfs.list.length && !loading" padding text-center>
        <!-- <div style="line-height: 20px">Nenhum documento encontrado</div> -->
      </div>

    </div>



    <div class="dicas" *ngIf="active == 'dicas'">

      <div class="item" *ngFor="let dica of dicas; let i = index">
        <img [src]="dica.thumbnail_principal" alt="" cursor-pointer (click)="toggleDica(i)">
        <div class="titulo" cursor-pointer (click)="toggleDica(i)">{{ dica.titulo }}</div>
        <div class="descricao" [hidden]="!dica.active" [innerHtml]="dica.descricao | linkify"></div>
      </div>

      <div *ngIf="!dicas.length && !loading" padding text-center>
        Nenhuma dica encontrada
      </div>

    </div>


  </div>
</ion-content>
