page-easyfit-nutri-exercicios {
  .more-info {
    color: color($colors, easyfitnutri);
    display: inline-block;
  }

  hr {
    background-color: color($colors, easyfitnutri) !important;
  }

  ion-header > .toolbar.statusbar-padding:first-child {
    padding-top: 0 !important;
    min-height: 0 !important;
    padding-bottom: 10px;
  }
  .search-box {
    input {
      width: 100%;
      border-radius: 50px;
      padding: 0 20px;
      text-align: center;
      border: 1px solid color($colors, easyfitnutri);
      color: color($colors, easyfitnutri);
      height: 50px;
      font-size: 1.2em;

      &::placeholder {
        color: color($colors, easyfitnutri);
        line-height: 200%;
      }
    }
  }
}
