<!--
  Generated template for the ExerciciosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button class="menu-toggle" ion-button menuToggle icon-only start>
      <img src="assets/icon/menu.png" width="30">
    </button>
    <home-tabbar></home-tabbar>
  </ion-navbar>
</ion-header>

<ion-content padding32>
  <div class="max-width-600">
    <radio-week></radio-week>

  <div class="refeicoes-listagem" margin-top>

    <div text-center margin class="my-spinner" [ngClass]="{active: _exercicios.loadingDay}">
      <ion-spinner></ion-spinner>
    </div>
    <div>
      <strong>ATIVIDADES FEITAS NO DIA</strong>
    </div>
    <div class="refeicoes-item" *ngFor="let item of _exercicios.day; let i = index" color="white" no-margin>
      <div cursor-pointer (click)="exercicioInternaPage(_exercicios.day[i])" class="refeicoes-item-esquerda" text-wrap>
        <!-- <div class="refeicoes-item-image">
          <img default="assets/imgs/symbol.png" [src]="item.thumbnail_principal" alt="">
        </div> -->
        <span text-left style="text-transform: uppercase" text-wrap>{{ item.titulo }} / <div class="more-info" color="secondary">{{
            item.pivot?.energia }} kcal / {{ item.pivot?.quantidade }} MINUTOS</div></span>
      </div>

      <ion-icon name="md-trash" item-end cursor-pointer (click)="_exercicios.delete(item)"></ion-icon>

    </div>
    <div text-center padding *ngIf="!_exercicios.loadingDay && _exercicios.day.length == 0">
      Nenhuma atividade encontrada para o dia {{ helpers.moment(_alimentos.selectedDate).format('LL')}}
    </div>
    <hr *ngIf="_exercicios.day.length != 0">
    <span style="color: #008437" *ngIf="_exercicios.day.length != 0">SOMA TOTAL: {{ _exercicios.totalDay }} KCAL / {{
      _exercicios.totalMinutesDay }} MINUTOS</span>
    <hr>

    <form class="search-box">
      <input type="search" placeholder="BUSCA DE ATIVIDADES" [(ngModel)]="options.search" (input)="doSearch()" name="search">
    </form>



    <div class="refeicoes-item" *ngFor="let item of _exercicios.listPaginate; let i = index" color="white" no-margin
      cursor-pointer (click)="exercicioInternaPage(_exercicios.listPaginate[i])">
      <div class="refeicoes-item-esquerda">
        <div class="refeicoes-item-image">
          <img default="assets/imgs/symbol.png" [src]="item.thumbnail_principal" alt="">
        </div>
        <span text-left>{{ item.titulo }}</span>
      </div>
      <div class="refeicoes-item-direita">
        <small>{{ item.energia }}/h</small>
        <ion-icon name="ios-arrow-forward" color="primary"></ion-icon>
      </div>
    </div>
  </div>
  <div text-center *ngIf="!loading && _exercicios.listPaginate.length == 0 && infiniteScroll.state == 'enabled'">
    Nenhuma atividade encontrado
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite()">
    <br><br>
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  </div>
</ion-content>
