<ion-header>
  <header [title]="_alimentos.tipos[tipo]"></header>
</ion-header>

<ion-content>
  <div class="max-width-600" #layout>
    <div class="cover-image" *ngIf="item.thumbnail_principal">
    <img [src]="item.thumbnail_principal" alt="cover-banana">
  </div>

  <div class="refeicao-interna">
    <div class="refeicao-interna-title">
      <span>{{ item.titulo }}</span>
      <ion-icon name="star" [color]="item.favoritado == 1 ? 'gold' : 'gray'" cursor-pointer (click)="favoritar()" name="star" color="gold"></ion-icon>
    </div>

    <div class="refeicao-interna-info">
      <div class="info-item">
        <small>{{ energia | toFixed }}kcal</small>
        <span>ENERGIA</span>
      </div>

      <div class="info-item">
        <small>{{ proteina | toFixed }}g</small>
        <span>PROTEÍNA</span>
      </div>

      <div class="info-item">
        <small>{{ carboidratos | toFixed }}g</small>
        <span>CARBOIDRATOS</span>
      </div>

      <div class="info-item">
        <small>{{ gordura | toFixed }}g</small>
        <span>GORDURA</span>
      </div>
    </div>

    <form class="forms inline-form" (ngSubmit)="salvar()" margin-top>
      <input mask="000" type="tel" [(ngModel)]="quantidade" (input)="calcular()" name="numero" placeholder="Qtd (g ou ml)">
      <button class="btn btn-green" no-margin margin-left>SALVAR</button>
    </form>
  </div>
  </div>
  <div class="max-width-600">
    <img src="assets/imgs/fruits.png" [style.height.px]="heightFruits" alt="">
  </div>
</ion-content>
