page-easyfit-nutri-refeicoes-interna {
  .scroll-content {
    // background: url(../assets/imgs/fruits.png) bottom left no-repeat;
    // background-size: 50%;
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        .max-width-600:nth-of-type(2) {
            margin-top: -40px;
            margin-left: -30px;
            z-index: -1;
            position: relative;
            img {
                object-fit: contain;
                object-position: bottom left;
                display: block;
            }
        }
  }

  .forms input {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    flex: 0 0 40%;
  }
}
