<ion-header>
  <ion-navbar>
    <button start (click)="easylifePage()" style="font-size: 30px;
    padding-left: 20px;background:transparent;border:none">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding32>
  <div class="max-width-600" #layout>
    <div class="info" text-uppercase>
      Preencha as seguintes perguntas<br />
      para personalizar seu perfil.
    </div>

    <div class="radio-group-default">
      <div class="radio-group-title blue-title" style="flex: 0 0 100%;">
        QUAL O SEU GÊNERO?
      </div>

      <div class="radio-group-item half">
        <input type="radio" id="masculino" name="genero" [(ngModel)]="_cadastro.dados.genero" value="masculino">
        <label for="masculino">MASCULINO</label>
      </div>
      <div class="radio-group-item half">
        <input type="radio" id="feminino" name="genero" [(ngModel)]="_cadastro.dados.genero" value="feminino">
        <label for="feminino">FEMININO</label>
      </div>
    </div>

    <form class="forms">
      <div class="blue-title">
        QUAL A SUA?
      </div>

      <ion-item class="details-none" details-none no-lines>
        <ion-datetime doneText="Ok" cancelText="Fechar" displayFormat="DD/MM/YYYY"
          [(ngModel)]="_cadastro.dados.data_nascimento" placeholder="DATA DE NASCIMENTO" name="data"></ion-datetime>

      </ion-item>
      <!-- <input mask="000" type="text" placeholder="ALTURA (cm)" [(ngModel)]="_cadastro.dados.altura" name="altura"
        margin-top> -->
        <ion-input type="tel"  placeholder="ALTURA (CM)" details-none
        [(ngModel)]="_cadastro.dados.altura" name="altura" [brmasker]="{mask:'000', len:3, type: 'num'}"></ion-input>
      <!-- <input mask="000" minlength="2" type="text" placeholder="PESO (kg)" [(ngModel)]="_cadastro.dados.inicio_kg" name="peso"
        margin-top> -->

        <ion-input type="tel"  placeholder="PESO (kg)" details-none
        [(ngModel)]="_cadastro.dados.inicio_kg" name="inicio_kg" [brmasker]="{mask:'000', len:3, type: 'num'}"></ion-input>

      <button cursor-pointer (click)="cadastroUsuarioSecondPage()" type="button" class="btn-arrow" ion-button margin-top
        block color="light">
        AVANÇAR <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </form>

  </div>
  <div class="max-width-600">
    <img src="assets/imgs/fruits.png" [style.height.px]="heightFruits" alt="">
  </div>
</ion-content>