<div class="home-item-water">
  <div class="home-item-water-cups">
    <ion-icon *ngFor="let copo of _agua.item.copos;let i = index" cursor-pointer (click)="_agua.bebeCopo(i)" name="duo-water" [color]="copo ? 'blue' : 'gray'"></ion-icon>
  </div>
  <div class="home-item-water-quantity" text-center>
    <span >
        <!-- {{ _agua.item.consumido / 1000 | toFixed:2 }} /  -->
      {{ _agua.item.quantidade / 1000 | toFixed:2 }}</span> LITROS
  </div>

</div>

<div style="margin-top:10px;">A cada copo marcado representa 250ml de água ingerida</div>
