consumo-agua {
  .home-item-water {
    margin-top: 16px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    .home-item-water-cups {
      .icon {
        font-size: 1.8em;
      }
    }

    .home-item-water-quantity {
      font-size: 12px;
      span {
        color: $blue;
        font-size: 2em;
        display: block;
        font-weight: 500;
      }
    }
  }
}
