<!--
  Generated template for the CategoriasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header title="Gestão Consultas" [hideSearch]="true"></header>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="onRefresher()">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="item">
    <button class="botao" (click)="cadastro()">NOVA CONSULTA</button> 
  </div>
  <div class="item">
    <button class="botao" (click)="imagens()">MINHAS IMAGENS</button> 
  </div>
  <div class="item">
    <button class="botao" (click)="listagem()">LISTAGEM CONSULTAS</button> 
  </div>
</ion-content>