page-gestao-home {
  // backgrou
 

    .item {
      margin-top: 20px;
      border: 1px solid #48bceb;
      padding-bottom:50px;
      height: 50px;
      position: relative;

      .botao {
        color: #fff;
        width: 100%;
        height: 50px;
        padding: 10px;
        background-color: #48bceb;
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: center;
        font-size: 18px;

      }
    
  }
}
