page-frase-do-dia {

  .frase-do-dia {
    @include themeBackgroundColor();
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    height: 100%;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    line-height: 50px;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

    ion-icon {
      transform: rotate(180deg);
      margin-bottom: 10px;
      font-size: 4
    }

    @media(max-width: 440px) {
      font-size: 34px;
      line-height: 45px;
    }

    @media(max-width: 380px) {
      font-size: 30px;
      line-height: 40px;
    }

    @media(max-width: 340px) {
      font-size: 25px;
      line-height: 32px;
    }

    @media(orientation: landscape) {
      font-size: 20px;
    }

    .frase {
      width: 440px;
      max-width: 90%;
      
    }

    .icone {
      flex: 0 0 100%;
      @media(orientation: landscape) {
        height: 30px;
      }
    }
  }
}
