<!--
  Generated template for the FraseDoDiaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header title="Motive-se"></header>
</ion-header>


<ion-content>
  <div class="frase-do-dia" [ngStyle]="{'background-image': 'url('+ (frase.thumbnail_principal ? frase.thumbnail_principal : '../assets/imgs/frase-do-dia.png') +')', color: frase.cor }">
    <div class="icone">
      <ion-icon name="duo-quotes"></ion-icon>
    </div>
    <div class="frase" [ngStyle]="{'font-size': frase.titulo?.length > 180 ? '24px' : ''}">
      {{ frase.titulo }}
      <span *ngIf="!frase.titulo">&ensp;</span>
    </div>
  </div>
</ion-content>
