<ion-content class="auth-pages">
  <!-- <div class="video" style="transition: all .3s ease" [ngStyle]="{opacity: showVideo ? '1' : '0'}">
    <video #video [hidden]="!global.informacoes.thumbnail_principal" [src]="global.informacoes.thumbnail_principal"
      autoplay="autoplay" loop="loop" muted muted="muted"></video>
  </div> -->
  <div class="logo">
    <div class="logo-img"></div>
    <div class="bem-vindo">B E M - V I N D O</div>
  </div>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="acesso">
    <!-- <div class="acesse">ACESSE COM SEU CÓDIGO</div> -->
    <input placeholder="E-MAIL" required type="email" name="email" [(ngModel)]="user.email">
    <input placeholder="SENHA" required type="password" name="password" [(ngModel)]="user.password">
    <button ion-button block>ENTRAR</button>
    <div class="faca-parte">
      <span cursor-pointer (click)="facaPartePage()">Faça parte</span>
    </div>
    <div class="continue-visitante">
      <span cursor-pointer (click)="esqueciSenhaPage()">Esqueci minha senha</span>
    </div>

    <!-- <div class="continue-visitante">
      Continue como visitante
    </div> -->
    <a class="site" href="{{ global.informacoes.site }}" target="blank">
      {{ helpers.removeHttp(global.informacoes.site) }}
    </a>
  </form>
</ion-content>