page-central-noticias-interna {
  
      .body {
        padding: 15px;
        font-size: 16px;
      }

      .titulo {
        font-size: 20px;
        text-align: center;
        margin: 20px auto
      }

      img {
        max-height: 350px;
        object-fit: cover;
        width: 100%;
        object-position: center;
      }

    }
  