<!--
  Generated template for the CategoriasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header title="{{noticia.titulo}}" [hideSearch]="true"></header>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="onRefresher()">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="cadastro">
      <img src="{{noticia.thumbnail_principal}}">
      <div class="titulo">
          {{noticia.titulo}}
      </div>
      <div class="body" [innerHTML]="noticia.texto" >
          
      </div>
  </div>
</ion-content>