<!--
  Generated template for the FavoritosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header title="Favoritos"></header>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="onRefresher()">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="easymind-list" padding-horizontal>

    <div class="list-item" *ngIf="videos.length" [ngClass]="{'open': videos_open}">
      <div class="list-title" cursor-pointer (click)="videos_open = !videos_open; audios_open = false; pdfs_open = false">
        Vídeos
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </div>
      <div class="sublist">
        <sublist-item *ngFor="let video of videos" [item]="video" (favoritar)="favoritar(video)"></sublist-item>

      </div>
    </div>

    <div class="list-item" *ngIf="audios.length" [ngClass]="{'open': audios_open}">
      <div class="list-title" cursor-pointer (click)="audios_open = !audios_open; videos_open = false; pdfs_open = false">
        Áudios
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </div>
      <div class="sublist">
        <sublist-item *ngFor="let audio of audios" [item]="audio" (favoritar)="favoritar(audio)"></sublist-item>
      </div>
    </div>

    <div class="list-item" *ngIf="pdfs.length" [ngClass]="{'open': pdfs_open}">
      <div class="list-title" cursor-pointer (click)="pdfs_open = !pdfs_open; videos_open = false; audios_open = false">
        Documentos
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </div>
      <div class="sublist">
        <sublist-item *ngFor="let pdf of pdfs" [item]="pdf" (favoritar)="favoritar(pdf)"></sublist-item>
      </div>
    </div>

  </div>

  <div *ngIf="!(videos.length || audios.length || pdfs.length) && !loading" padding text-center>
    Você ainda não adicionou nada aos seus favoritos
  </div>

</ion-content>
