radio-week {
    .radio-week {
        display: flex;flex-flow: row;align-items: center;justify-content: space-between;
    
        .radio-day {
            input {
                display: none;
    
                &:checked + label {@include linearGradient(#0688d1, $blue);color: #fff;}
            }
    
            label {line-height: 24px;display: block;width: 28px;border-radius: 14px;font-weight: 500;}
    
            
        }
    }
}
