<div class="radio-week">

  <div class="radio-day" *ngFor="let day of _alimentos.weekDays;" cursor-pointer (click)="change(day.format('YYYY-MM-DD'))">
    <input [checked]="day.format('YYYY-MM-DD') == _alimentos.selectedDate" type="radio">
    <label text-center>
      {{ day.format('D') }}<br>
      {{ day.format('ddd') | slice:0:1 }}
    </label>
  </div>

</div>

<div padding text-center *ngIf="!_alimentos.weekDaysFormated.includes(_alimentos.selectedDate)">
  {{ helpers.moment(_alimentos.selectedDate).format('LL') }}
</div>
<hr>
