<ion-header>
  <header title="CONTROLE DE ÁGUA"></header>
</ion-header>


<ion-content padding32>
  <div class="max-width-600">
  
  <div margin-bottom padding-horizontal padding-bottom text-center>
    {{ helpers.moment(_alimentos.selectedDate).format('LL') }}
  </div>
  <div class="water-control">
    <div class="water-cup" text-center>
      <span>{{ _agua.item.quantidade / 1000 }} LITROS</span>
      <img src="assets/imgs/cup-of-water.png" alt="water-cup">
      <div class="helper-cup" [style.height.px]="90 * (_agua.item.consumido / _agua.item.quantidade)" style="transition: all .3s ease"></div>
      <span style="display: block;margin-top:10px">{{ _agua.item.consumido }}ml</span>
    </div>

    <ion-item no-lines>
      <ion-range style="opacity: 1" step="250" pin="true" [(ngModel)]="_agua.item.quantidade" (ionChange)="save()"
        [max]="5000"></ion-range>
    </ion-item>
  </div>

  <div class="info" text-uppercase margin-top>
    ESTABELEÇA UM OBJETIVO DE CONSUMO DE ÁGUA. SE PRATICAR ESPORTES VOCÊ DEVE AUMENTAR A INGESTÃO DE ÁGUA
  </div>

  <hr>

  <!-- <div class="section-interna">
    <h4>TAMANHO DA BEBIDA</h4>

    <div class="info" text-uppercase margin-top>Selecione o tamanho da bebida</div>

    <form class="forms">
      <div class="item-agua">
        <label for="opcao1">COPO 200 mL</label>
        <input mask="000" name="bebida_200" [(ngModel)]="_agua.item.bebida_200" (input)="save()" id="opcao1">
      </div>

      <div class="item-agua">
        <label for="opcao2">COPO 250 mL</label>
        <input mask="000" name="bebida_250" [(ngModel)]="_agua.item.bebida_250" (input)="save()" id="opcao2">
      </div>

      <div class="item-agua">
        <label for="opcao3">GARRAFA 500 mL</label>
        <input mask="000" name="bebida_500" [(ngModel)]="_agua.item.bebida_500" (input)="save()" id="opcao3">
      </div>

      <div class="item-agua">
        <label for="opcao4">GARRAFA 700mL</label>
        <input mask="000" name="bebida_700" [(ngModel)]="_agua.item.bebida_700" (input)="save()" id="opcao4">
      </div>
    </form>
  </div> -->

  <!-- <hr margin> -->
  <consumo-agua margin-top></consumo-agua>

  </div>

</ion-content>
