page-easyfit-nutri-controle-agua {
  .forms {
    input {
      display: inline-block;
      width: 60px;
      padding-left: 0;
      padding-right: 0;
      -webkit-appearance: none;
      appearance: none;
      height: 40px;
    }
    label {
      transform: translateY(2px);
    }
    .item-agua {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
      margin-top: 4px;
    }
  }
  // controle de água
  .water-control {
    .water-cup {
      min-height: 120px;
      position: relative;
      span {
        font-weight: 500;
        font-size: 16px;
        color: $blue;
        margin-bottom: 5px;
        display: block;
      }

      img {
        display: block;
        margin: 0 auto;
        height: 120px;
        object-fit: contain;
      }

      .helper-cup {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        background: #74ccf4;
        width: 94.25px;
        z-index: -1;
        margin-bottom: 29px;
        margin-top: 10px;
      }
    }

    .range {
      padding: 0px 8px 0px 0px;
      margin-top: 20px;
      .range-slider {
        .range-bar {
          height: 6px;
          background: $green;
          border-radius: 3px;
          &.range-bar-active {
            background: $blue;
          }
        }

        .range-knob-handle {
          top: 24px;
          .range-knob {
            @include linearGradient(#3a97cd, #00649c);
          }
        }
      }
    }
  } 
}
