<!--
  Generated template for the CategoriasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header title="Central de Relacionamento" [hideSearch]="true"></header>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="onRefresher()">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="item">
    <button class="botao" (click)="notificacoes()">NOTIFICAÇÕES</button> 
  </div>
  <div class="item">
    <button class="botao" (click)="noticias()">NOTÍCIAS</button> 
  </div>
</ion-content>