<!--
  Generated template for the CategoriasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header title="Cadastro" [hideSearch]="true"></header>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="onRefresher()">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="cadastro">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="row">
        <label for="area">ÁREA:</label> 
        <ion-select cancelText="Cancelar" [(ngModel)]="consulta.area_id" id="area_id" name="area_id" (ngModelChange)="doSearch($event)">
          <ion-option *ngFor="let item of _areas.list" [value]="item.id" >{{item.descricao}}</ion-option>
        </ion-select>
      </div>  
      <div class="row">
        <label for="subarea_id">SUBÁREA:</label> 
        <ion-select cancelText="Cancelar" [(ngModel)]="consulta.subarea_id" id="subarea_id" name="subarea_id" >
          <ion-option *ngFor="let s of subareas" [value]="s.id" >{{s.descricao}}</ion-option>
        </ion-select>
      </div> 
        <div class="row">
            <label for="nome">NOME:</label> 
            <input class="input"  [(ngModel)]="consulta.nome" required id="nome" name="nome"/>
        </div> 
        <div class="row">
            <label for="telefone">TELEFONE:</label> 
            <input class="input" [(ngModel)]="consulta.telefone" id="telefone" name="telefone" mask="00 00000-0000"/>
        </div> 
        <div class="row">
          <label for="data" stacked>DATA DA CONSULTA:</label> 
            <ion-item>
              <ion-datetime cancelText="Fechar" max="2030-10-31" doneText="Confirmar" [(ngModel)]="consulta.data_consulta" name="data_consulta" required class="input" displayFormat="DD/MM/YYYY" ></ion-datetime>
            </ion-item>
        </div>
        <div class="row">
            <label for="resumo">RESUMO DA CONSULTA:</label> 
            <textarea class="input" [(ngModel)]="consulta.observacoes" id="observacoes" name="observacoes" rows="4"> </textarea>
        </div>
        <div class="row">
          <input type="file" #file name="file" id="file" (change)="onChangeInputFiles($event.target.files)"
            style="position:absolute;left: 0;opacity: 0;" accept="image/*">
          <label for="file" stacked>ANEXAR IMAGEM:<br><small>(Laudo, exame, receita)</small></label> 
          <label for="file"><ion-icon name="camera"></ion-icon></label>
          <ion-img [src]="imgSrc"></ion-img>

        </div>
        <div class="row row-toggle">
          <label for="data" stacked>REVISÃO:</label> 
          <ion-item>
            <ion-toggle [(ngModel)]="consulta.tem_revisao" name="tem_revisao" color="secondary"></ion-toggle>
          </ion-item>
        </div> 
        <div class="row " [hidden]="!consulta.tem_revisao">
          <label for="data" stacked>DATA REVISÃO:</label> 
            <ion-item>
              <ion-datetime cancelText="Fechar" [min]="minDate" max="2030-10-31" doneText="Confirmar" [(ngModel)]="consulta.data_revisao" name="data_revisao" class="input" displayFormat="DD/MM/YYYY" ></ion-datetime>
            </ion-item>
        </div>
        <div class="row">
          <button class="botao">SALVAR</button>
        </div>
        
      </form>  
  </div>
</ion-content>