page-gestao-cadastro {
  // backgrou
  .cadastro{
    padding: 10%;

    label {margin-bottom: 8px}
    
    .row {
      position: relative
    }


    .img-unloaded {
      position: absolute;
      opacity: 0;
    }
    .img-loaded {
      width: 100%;
      height: 200px!important;
      margin-bottom: 30px;
      position: relative;
      opacity: 1;
      display: block;
      max-height: 200px !important;
      clear: both;
      background-color: #fff
    }

    .img-loaded img {
      height: 200px;
      margin: auto
    }

    .input {
      margin-bottom: 10px;
      border: 1px solid #48bceb;
      padding: 5px 10px;


      .datetime-text {
        line-height: 33px;
      }
    }

    .item-md {
      padding-left: 0;

      .input {
        height: 44px;
        width: 100%;
        border-radius: 4px
      }

      .item-inner {
        padding-right: 0;
        border-bottom: unset;
      }
    }
    .icon {
      color: #48bceb;
      margin-left: 20px;
      font-size: 40px
    }

    .item-toggle{
      position: absolute;
      width: min-content;
      left: 80px;
    }

    .row-toggle{
      position: relative ;
      min-height: 50px
    }
    .botao {
      margin: 10px auto;
    padding: 8px 30px;
    border-radius: 4px;
    background-color: #48bceb;
    color: #fff;
    }

    .select {margin-bottom: 30px;
      border: 1px solid #48bceb;
      padding: 12px 10px;
      border-radius: 4px;
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
}
