page-central-notificacoes {
  // backgrou
  .listagem{
    padding: 7%;

    .select {margin-bottom: 30px;
      border: 1px solid #48bceb;
      padding: 5px 10px;
      border-radius: 0;
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }

    .item {
      border-bottom: 1px solid #d0bf7a;
      padding: 10px;
      margin-bottom: 20px;
      
      label {
        margin-right: 10px
      }

      .row {
        margin-bottom: 10px
      }

    }
  }
}
