<!--
  Generated template for the CategoriasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header title="Notificações" [hideSearch]="true"></header>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="onRefresher()">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="listagem">
      
      <div class="item" *ngFor="let item of _notificacoes.list">
            <div class="row">
                 {{item.titulo}} - {{helpers.moment(item.created_at).format('DD/MM/YYYY')}}
              </div> 
              <div class="row">
                  <small>{{item.descricao}}</small>
              </div>
              
      </div>
  </div>
</ion-content>