<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header title="Perfil" [hideButtons]="hideButtons"></header>
</ion-header>


<ion-content>
<div class="max-width-600">

  <div class="profile" cursor-pointer (click)="enviarFoto()">
    <img default="assets/imgs/profile.png" [src]="dados.avatar" alt="">
    <div class="alterar" *ngIf="plt.is('cordova')">ALTERAR FOTO DO PERFIL</div>
  </div>

  <div *ngIf="dados.inicio_kg && aplicativos?.item?.id == 3" class="perfil-objetivo">
    <div class="perfil-objetivo-meta">
      <span>INÍCIO: {{ dados.inicio_kg }} KG</span>
      <span>ATUAL: {{ dados.atual_kg }} KG</span>
      <span cursor-pointer (click)="objetivoKg()">OBJETIVO: {{ dados.objetivo_kg }} KG</span>
    </div>
    <div class="perfil-objetivo-tabbar">
      <div class="perfil-objetivo-bar"></div>
      <div class="perfil-objetivo-bar active" [style.width.%]="barraObjetivo"></div>
    </div>
    <!-- <div class="perfil-objetivo-time" text-center text-uppercase>
      20 semanas para você atingir seu objetivo
    </div> -->
  </div>

  <form ion-list (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input name="first_name" [(ngModel)]="dados.first_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>CPF</ion-label>
      <ion-input name="cpf" [(ngModel)]="dados.cpf" [brmasker]="{mask: '000.000.000-00'}"></ion-input>
    </ion-item>

    <ion-item *ngIf="dados.inicio_kg && aplicativos?.item?.id == 3" no-padding class="label-duas-linhas">
      <ion-label>OBJETIVO</ion-label>
      <ion-select style="max-width: 100%;" [(ngModel)]="dados.objetivo_descricao" name="objetivo_descricao"
        details-none>
        <ion-option value="Manter Peso">Manter Peso</ion-option>
        <ion-option value="Perder Peso">Perder Peso</ion-option>
        <ion-option value="Ganhar Peso">Ganhar Peso</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="dados.inicio_kg && aplicativos?.item?.id == 3" no-padding class="label-duas-linhas">
      <ion-label>OBJETIVO<br>kcal</ion-label>
      <ion-input required type="tel" step="50" min="0" placeholder="" [(ngModel)]="dados.objetivo_kcal" name="objetivo_kcal"
        [brmasker]="{mask:'0000', len:4}"></ion-input>
    </ion-item>

    <ion-item *ngIf="dados.inicio_kg && aplicativos?.item?.id == 3" no-padding class="label-duas-linhas">
      <ion-label>OBJETIVO<br>kg</ion-label>
      <ion-input required type="tel" (ngModelChange)="barraObjetivoChange($event)" step="50" min="0" placeholder=""
        [ngModel]="dados.objetivo_kg" name="objetivo_kg" [brmasker]="{mask:'000', len:3, type: 'num'}"></ion-input>
    </ion-item>

    <ion-item *ngIf="dados.inicio_kg && aplicativos?.item?.id == 3" no-padding class="label-duas-linhas">
      <ion-label>ATUAL<br>kg</ion-label>
      <ion-input required type="tel" step="50" min="0" placeholder="" [(ngModel)]="dados.atual_kg" name="atual_kg"
        (ngModelChange)="barraObjetivoChange(dados.objetivo_kg)" [brmasker]="{mask:'000', len:3, type: 'num'}"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Telefone</ion-label>
      <!-- <ion-input [brmasker]="{phone: true}" name="telefone" [(ngModel)]="dados.telefone"></ion-input> -->
      <ion-input [brmasker]="{mask:'00 000000000', len:12}" required type="tel" name="telefone" [(ngModel)]="dados.telefone" maxlength="12"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input disabled [value]="dados.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input name="password" type="password" [(ngModel)]="dados.password"></ion-input>
    </ion-item>
    <ion-item class="confirmar-senha">
      <ion-label>Confirmar<br>Senha</ion-label>
      <ion-input name="confirmPassword" type="password" [(ngModel)]="dados.confirmPassword"></ion-input>
    </ion-item>
    <button ion-button block margin-top margin-bottom>ALTERAR DADOS</button>
  </form>
  <br>
  <br>
</div>
</ion-content>
