page-perfil {
  .scroll-content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    font-size: 17px;
    @media(max-width: 340px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .profile {
    text-align: center;

    img {
      border-radius: 50%;
      object-fit: cover;
      object-position: center center;
      width: 150px;
      height: 150px;
      @include themeBackgroundColor();
    }

    .alterar {
      @include themeColor();
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .confirmar-senha {
    ion-label {
      font-size: 14px;
      line-height: 15px;
    }
  }

  .perfil-objetivo-meta {
    margin-top: 16px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: 11px;
    }
  }

  .perfil-objetivo {
    .perfil-objetivo-tabbar {
      position: relative;
      margin: 16px 0;
      height: 10px;
      .perfil-objetivo-bar {
        width: 100%;
        height: 6px;
        border-radius: 3px;
        background: rgb(68, 68, 68);
        position: absolute;
        &.active {
          width: 20%;
          @include themeGradient();
          z-index: 2;
        }
      }
    }
  }

  .perfil-objetivo-time {
    margin-top: 16px;
    font-size: 12px;
    display: block;
  }
}
