<!--
  Generated template for the CategoriasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header title="Minhas Imagens" [hideSearch]="true"></header>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="onRefresher()">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="listagem">
    <div class="filtro">
      <ion-select class="input" [(ngModel)]="area_id" cancelText="Cancelar" placeholder="Área" id="area" name="area" (ngModelChange)="doSearch($event)">
          <ion-option [value]="0"> Todas </ion-option>
          <ion-option *ngFor="let item of _area.list" [value]="item.id" >{{item.descricao}}</ion-option>
      </ion-select>
    </div>
      <div class="item" *ngFor="let item of _consultas.list">
          <img [src]="item.thumbnail_principal" (press)="shareImg(item)"/>
      </div>
  </div>
</ion-content>