page-gestao-imagens {
  

  .filtro {

    position: relative;
    padding: 10px 5%;

    .select {margin-bottom: 30px;
      border: 1px solid #48bceb;
      padding: 5px 10px;
      border-radius: 0;
      width: 100%;
      max-width: 100%;
      margin: 20px 0;
    }
  }

    .item {
      text-align: center     ;

      
      img {
        max-height: 300px;
        margin: 15px auto;
        max-width: 90%;
        border-radius: 4px
      }
    }
    
  }

