<ion-tabs #tabRef selectedIndex="3" (ionChange)="transition($event)">
    <ion-tab [tabsHideOnSubPages]="false" [root]="tab0Root" [show]="false"></ion-tab>
    <ion-tab [tabsHideOnSubPages]="false" [root]="tab1Root" tabIcon="duo-restaurant" color="gray"></ion-tab>
    <ion-tab [tabsHideOnSubPages]="false" [root]="tab2Root" tabIcon="duo-water" color="gray"></ion-tab>
    <ion-tab [tabsHideOnSubPages]="false" [root]="tab3Root" tabIcon="duo-easylife-large"></ion-tab>
    <ion-tab [tabsHideOnSubPages]="false" [root]="tab4Root" tabIcon="duo-dumbbell" color="gray"></ion-tab>
    <ion-tab [tabsHideOnSubPages]="false" [root]="tab5Root" tabIcon="duo-kcal" color="gray"></ion-tab>
    <ion-tab [tabsHideOnSubPages]="false" [root]="tab6Root" [show]="false"></ion-tab>
    <ion-tab [tabsHideOnSubPages]="false" [root]="tab7Root" [show]="false"></ion-tab>
    <ion-tab [tabsHideOnSubPages]="false" [root]="tab8Root" [show]="false"></ion-tab>
  </ion-tabs>
  