<ion-footer>
<div class="tabs">
  <div class="tab-item" *ngFor="let tab of tabs" cursor-pointer (click)="switchTab">
    <ion-icon [name]="tab.icon"></ion-icon>
    <div class="tab-label">{{ tab.label }}</div>
  </div>
</div>
</ion-footer>