<!--
  Generated template for the RoteirosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header title="Roteiros"></header>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="onRefresher()">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="easymind-list" padding-horizontal>

    <div #itemsRef class="list-item" *ngFor="let item of _categorias.list; let i = index;" [ngClass]="{'open': item.open}">
      <!-- <div style="        position: absolute;
      top: 3px;
      left: 0;
      font-size: 12px;">{{ item.conteudos_assistido_count +'/'+ item.conteudos_count }}</div> -->
      <div class="list-title" cursor-pointer (click)="toggleItem(i)">
        {{ item.titulo }} 
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </div>

      <div class="sublist">



        <ng-container *ngFor="let topico of item.topicos">
          <!--mostra somente qndo a lista de topicos > 1 e o titulo for direito do do roteiro-->
          <div class="sublist-item sublist-item-100" *ngIf="item.topicos.length > 1 && topico.titulo != item.titulo">
            <div class="sublist-title sublist-title-upper"><b>{{ topico.titulo }}</b></div>
          </div>
          <sublist-item *ngFor="let subitem of topico.conteudos" [item]="subitem"></sublist-item>

          <ng-container *ngFor="let topico2 of topico.topicos">
            <!--mostra somente qndo a lista de topicos > 1 e o titulo for direito do do roteiro-->
            <div class="sublist-item sublist-item-100">
              <div class="sublist-title"><b>{{ topico2.titulo }}</b></div>
            </div>
            <sublist-item *ngFor="let subitem2 of topico2.conteudos" [item]="subitem2"></sublist-item>


          </ng-container>

        </ng-container>





      </div>
    </div>
  </div>
</ion-content>