<!--
  Generated template for the CadastroUsuarioSecondPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header [title]="''"></header>
</ion-header>


<ion-content padding32>
  <div class="max-width-600" #layout>
    <div class="radio-group-default">
      <div class="radio-group-title blue-title">
        QUAL O SEU OBJETIVO?
      </div>
      <div class="radio-group-item">
        <input [(ngModel)]="_cadastro.dados.objetivo_descricao" type="radio" id="opcao1" value="Manter Peso"
          name="objetivo" checked>
        <label for="opcao1">MANTER PESO</label>
      </div>
      <div class="radio-group-item" margin-top>
        <input [(ngModel)]="_cadastro.dados.objetivo_descricao" type="radio" id="opcao2" value="Perder Peso"
          name="objetivo">
        <label for="opcao2">PERDER PESO</label>
      </div>
      <div class="radio-group-item" margin-top>
        <input [(ngModel)]="_cadastro.dados.objetivo_descricao" type="radio" id="opcao3" value="Ganhar Peso"
          name="objetivo">
        <label for="opcao3">GANHAR PESO</label>
      </div>
      <form class="forms" style="width:100%">
        <!-- <input mask="000" pattern="\d*" type="text" placeholder="PESO (kg)" [(ngModel)]="_cadastro.dados.objetivo_kg" name="peso"
          margin-top> -->
          <ion-input type="tel"  placeholder="PESO (kg)" details-none
          [(ngModel)]="_cadastro.dados.objetivo_kg" name="objetivo_kg" [brmasker]="{mask:'000', len:3, type: 'num'}"></ion-input>
  
        <!-- <input mask="00000" pattern="\d*"  type="text" placeholder="OBJETIVO (kcal/dia)" [(ngModel)]="_cadastro.dados.objetivo_kcal"
          name="objetivo_kcal" margin-top> -->
          <ion-input type="tel"  placeholder="OBJETIVO (kcal/dia)" details-none
        [(ngModel)]="_cadastro.dados.objetivo_kcal" name="objetivo_kcal" [brmasker]="{mask:'00000', len:5, type: 'num'}"></ion-input>
      </form>
    </div>

    <button class="btn-arrow" ion-button margin-top block color="light" cursor-pointer
      (click)="cadastroUsuarioThirdPage()">
      AVANÇAR <ion-icon name="ios-arrow-forward"></ion-icon>
    </button>
  </div>
  <div class="max-width-600">
    <img src="assets/imgs/fruits.png" [style.height.px]="heightFruits" alt="">
  </div>

</ion-content>