page-cadastro-usuario-second {
    .forms {
        input, ion-datetime {
            @include themeColor();
            text-align: left;
            
            &::placeholder {
                @include themeColor();
                line-height: 50px;
            }
        }


    }
    .scroll-content {
        // background: url(../assets/imgs/fruits.png) bottom left no-repeat;background-size: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .max-width-600:nth-of-type(2) {
            margin-top: -40px;
            margin-left: -30px;
            z-index: -1;
            position: relative;
            img {
                object-fit: contain;
                object-position: bottom left;
                display: block;
            }
        }
    }
}
