<ion-content class="auth-pages" [hidden]="helpers.isAppleReview()">
  <div class="logo" [ngStyle]="{keyboard:  keyboard.isOpen() ? 0 : 1}">
    <div class="logo-img"></div>
    <div class="bem-vindo">ACESSE COM SEU CÓDIGO</div>
  </div>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="acesso">
    <!-- <div class="acesse">ACESSE COM SEU CÓDIGO</div> -->
    <div class="acesse">Olá, {{ auth.user.user.first_name }}</div>
    <input placeholder="Código" type="text" name="code" required [(ngModel)]="obj.code">
    <input placeholder="Identificação" type="text" name="identificador" required [(ngModel)]="obj.identificador">

    <button ion-button block>ENTRAR</button>
    <div class="faca-parte" cursor-pointer (click)="logout()">
      Voltar
    </div>

    <!-- <div class="continue-visitante">
      Continue como visitante
    </div> -->
    <a class="site" href="{{ global.informacoes.site }}" target="blank">
      {{ helpers.removeHttp(global.informacoes.site) }}
    </a>
  </form>
</ion-content>