<!--
  Generated template for the ConhecaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header [title]="global.conheca.titulo" [hideButtons]="true"></header>
</ion-header>


<ion-content padding>
  <div padding class="max-width-600">
    <img [src]="global.conheca.thumbnail_principal" style="max-width: 100%;display: block;height: auto; margin-top:25px;margin-bottom: 50px;" >
    <div [innerHtml]="global.conheca.descricao | linkify"></div>
  </div>
</ion-content>
