<!--
  Generated template for the CategoriasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header title="Home"></header>
</ion-header>


<ion-content #content>
  <ion-refresher (ionRefresh)="onRefresher()">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="categorias">
    <div class="item item-100">
      <img [src]="_categorias.list[1]?.thumbnail_principal" default="assets/imgs/categorias-orange.png" alt=""  >
      <div class="top" cursor-pointer (click)="openRoteiro(0)">
        <div class="play"></div> {{ _categorias.list[0]?.titulo }}
      </div>
      <button cursor-pointer (click)="openRoteiro(1)" style="width: 100%;height:100%;position:absolute;opacity: 0;"></button>
      <div class="action" cursor-pointer (click)="openRoteiro(1)">
        <div class="play" *ngIf="_categorias.list[1]"></div>
        <div class="title">{{ _categorias.list[1]?.titulo }}</div>
      </div>
    </div>
    <button ion-item details-none no-lines class="item" tappable cursor-pointer (click)="openRoteiro(2)">
      <img [src]="_categorias.list[2]?.thumbnail_principal" default="assets/imgs/categorias-green.png" alt="">
      <div class="action">
        <div class="play" *ngIf="_categorias.list[2]"></div>
        <div class="title">{{ _categorias.list[2]?.titulo }}</div>
      </div>
    </button>
    <button ion-item details-none no-lines class="item" tappable cursor-pointer (click)="openRoteiro(3)">
      <img [src]="_categorias.list[3]?.thumbnail_principal" default="assets/imgs/categorias-blue.png" alt="">
      <div class="action">
        <div class="play" *ngIf="_categorias.list[3]"></div>
        <div class="title">{{ _categorias.list[3]?.titulo }}</div>
      </div>
    </button>
    <button ion-item details-none no-lines class="item" tappable *ngFor="let categoria of _categorias.list; let key = index" cursor-pointer (click)="openRoteiro(key)" [hidden]="key < 4">
      <img [src]="categoria.thumbnail_principal" default="assets/imgs/categorias-blue.png" alt="">
      <div class="action">
        <div class="play" *ngIf="categoria"></div>
        <div class="title">{{ categoria.titulo }}</div>
      </div>
    </button>

    <div class="isotipo"></div>
  </div>
</ion-content>
