page-categorias {
  .categorias {
    width: 100%;
    height: 100%;
    @include themeBackgroundColor();
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .isotipo {
      background-color: white;
      border-radius: 50%;
      width: 160px;
      height: 160px;

      max-width: 60vw;
      max-height: 60vw;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url(../assets/imgs/isotipo.svg);
      background-size: 80% 80%;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      z-index: 1;

      @media (max-width: 340px) {
        width: 140px;
        height: 140px;
      }

      @media (max-height: 500px) {
        width: 100px;
        height: 100px;
        top: 210px;
      }
    }

    .isotipo + .isotipo {
      top: 150%;
    }

    .isotipo + .isotipo + .isotipo {
      top: 250%;
    }

    .isotipo + .isotipo + .isotipo + .isotipo {
      top: 350%;
    }

    .item {
      height: 50%;
      flex: 0 0 50%;
      background-size: cover;
      background-position: center center;
      text-transform: uppercase;
      text-align: center;
      color: white;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-wrap: wrap;
      font-weight: 500;
      overflow: hidden;
      min-height: 210px;
      position: relative;
      .label {
        white-space: normal;
      }
      &::after,
      button {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: white;
        opacity: 0;
        content: "";
      }
      &:hover::after,
      button:hover {
        opacity: 0.15;
      }
      &:first-child::after {
        pointer-events: none;
      }

      &.item-100 {
        flex: 0 0 100%;

        .action {
          margin-top: -25px;
          width: 170px;

          @media (max-width: 340px), (max-height: 500px) {
            margin-top: -10px;
          }
        }
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
      }

      .top {
        border-bottom: 1px solid white;
        padding-top: 14px;
        padding-bottom: 10px;
        width: 100%;
        top: 0;
        left: 0;
        font-weight: 300;
        background-color: rgba(222, 99, 27, 0.68);
        position: absolute;
        padding-top: 10px;
        z-index: 1;
        .play {
          width: 20px;
          height: 20px;
          display: inline-block;
          border-width: 1.5px;
          margin-bottom: 0;
          transform: translateY(4px);
          margin-right: 10px;
          z-index: 1;
          position: relative;

          // transform: translateY(0);
          // width: 15px;
          // height: 12px;
          // border-width: 0;
          // background-size: contain;
          // border-radius: 0;
        }
        &::after {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          display: block;
          background-color: white;
          opacity: 0;
          content: "";
        }
        &:hover::after {
          opacity: 0.15;
        }
      }

      .play {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        border: 3.5px solid white;
        background-image: url(../assets/icon/play-white.svg);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 60% 55%;
        margin-bottom: 15px;
        display: inline-block;
      }

      .action {
        position: relative;
        z-index: 1;
      }
    }
  }
}
