<ion-header>
  <header [title]="item.titulo"></header>
</ion-header>

<ion-content>
  <div class="max-width-600">
  <div class="cover-image" *ngIf="item.thumbnail_principal">
    <img [src]="item.thumbnail_principal" alt="cover-banana">
  </div>

  <div class="refeicao-interna">
    <div style="text-transform: uppercase;white-space: pre-wrap">{{ global.informacoes.exercicios_explicacao }}</div>
    <div class="refeicao-interna-info">
      <div class="info-item">
        <span>ENERGIA
          <small>{{ energia }}kcal</small>
        </span>
      </div>

    </div>

    <form class="forms inline-form" (ngSubmit)="salvar()" margin-top>
      <input mask="000" type="tel" [(ngModel)]="quantidade" (input)="calcular()" name="numero" placeholder="TEMPO (m)">
      <button class="btn btn-green" no-margin margin-left>SALVAR</button>
    </form>
  </div>
  </div>
</ion-content>
