.theme-easyfit-nutri {
  page-easyfit-nutri-exercicio-interna {
    .scroll-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .max-width-600:nth-of-type(2) {
          margin-top: -40px;
          margin-left: -30px;
          z-index: -1;
          position: relative;
          img {
              object-fit: contain;
              object-position: bottom left;
              display: block;
          }
      }
    }
    .toolbar-title-md {
      padding-left: 70px;
      padding-right: 20px;
    }

    .refeicao-interna .refeicao-interna-info .info-item {
      flex: 0 0 100%;
      margin-top: 20px;
      font-size: 21px;

      small {
        display: inline-block;
      }
    }

    .forms input {
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 12.8px;
    }
  }
}
