page-aplicativos {
  .apps {
    display: flex;
    flex-wrap: wrap;
  }

  .apps a {
    flex: 0 0 50%;
    width: 50%;
    height: calc(34.8vh - (65px / 2));
    height: calc(34.8vh - ((65px + constant(safe-area-inset-top)) / 2));
    height: calc(34.8vh - ((65px + env(safe-area-inset-top)) / 2));
    position: relative;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .apps a.linear::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  }
  .apps a::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  }

  .apps a img {
    filter: brightness(0) invert(1);
    width: 70%;
    max-width: 200px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all 0.3s ease;
  }
  .apps a .entrar {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
    height: 40px;
    border-radius: 50px;
    position: absolute;
    right: 10px;
    bottom: 15px;
    transition: all .3s ease;
    @media(max-width: 991px) {
      left: 50%;
      right: auto;
      transform: translateX(-50%)
    }
  }
}
