<!--
  Generated template for the AplicativosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header title="Módulos" [showPerfil]="true"></header>
</ion-header>
<ion-content>
  <div class="apps">
    <a *ngFor="let app of aplicativos.list;let key = index" [hidden]="app.id == 3" cursor-pointer (click)="setItem(app)"
      [style.background-image]="helpers.sanitizeStyle('url(' + app.fundo +  ')')" [style.background-color]="app.cor"
      [class.linear]="!app.fundo">
      <img src="{{ (app.thumbnail_principal) }}">
      <div class="entrar">Entrar</div>
    </a>
  </div>
</ion-content>