<!--
  Generated template for the ContatoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header title="Contato" [hideSearch]="true"></header>
</ion-header>


<ion-content padding>
  <form class="max-width-600" ion-list padding (ngSubmit)="onSubmit(form)" #form="ngForm">
    <p>
      PARA QUALQUER INFORMAÇÃO ENTRE EM CONTATO
    </p>
    <input required type="text" name="nome" [(ngModel)]="contato.nome" required placeholder="NOME">
    <input style="margin-top:16px;margin-bottom:16px;" required type="tel" name="telefone" [(ngModel)]="contato.telefone" placeholder="TELEFONE" mask="00 00000-0000">
    <input required type="email" name="email" [(ngModel)]="contato.email" required placeholder="E-MAIL">
    <textarea required name="mensagem" margin-top rows="4" [(ngModel)]="contato.mensagem"
      placeholder="MENSAGEM"></textarea>

    <button ion-button block margin-top margin-bottom>ENVIAR</button>
  </form>
</ion-content>