page-contato {
  input, .input[details-none] input {
    border: 1px solid color($colors, primary);
    @include themeBorderColor;
    
  }


  textarea {
    border: 1px solid color($colors, primary);
    @include themeBorderColor;
  }
}
