<ion-tabs #tabRef selectedIndex="2" (ionChange)="transition($event)">
    <ion-tab tabsHideOnSubPages="true" [root]="tab0Root" [tabIcon]="aplicativos?.item?.id == 4 ? 'tab-duo-3books' : (aplicativos?.item?.id == 7 ? 'tab-duo-utensils' : 'tab-duo-hand')"></ion-tab>
    <ion-tab tabsHideOnSubPages="true" [root]="tab1Root" tabIcon="tab-duo-star"></ion-tab>
    <ion-tab tabsHideOnSubPages="true" [root]="tab2Root" tabIcon="easymind-isotipo"></ion-tab>
    <ion-tab tabsHideOnSubPages="true" [root]="tab3Root" tabIcon="tab-duo-book"></ion-tab>
    <ion-tab tabsHideOnSubPages="true" [root]="tab4Root" tabIcon="tab-duo-phone"></ion-tab>
  </ion-tabs>
  