<ion-tabs #tabRef selectedIndex="2" (ionChange)="transition($event)">
  <ion-tab tabsHideOnSubPages="true" [root]="tab0Root" tabIcon="tab-duo-play"></ion-tab>
  <ion-tab tabsHideOnSubPages="true" [root]="tab1Root" tabIcon="tab-duo-quotes"></ion-tab>
  <ion-tab tabsHideOnSubPages="true" [root]="tab2Root" tabIcon="easymind-isotipo"></ion-tab>
  <ion-tab tabsHideOnSubPages="true" [root]="tab3Root" tabIcon="tab-duo-star"></ion-tab>
  <ion-tab tabsHideOnSubPages="true" [root]="tab4Root" tabIcon="tab-duo-music"></ion-tab>
  <ion-tab tabsHideOnSubPages="true" [root]="tab5Root" tabIcon="duo-profile" [show]="false"></ion-tab>
  <ion-tab tabsHideOnSubPages="true" [root]="tab6Root" tabIcon="duo-profile" [show]="false"></ion-tab>
  <ion-tab tabsHideOnSubPages="true" [root]="tab7Root" tabIcon="duo-profile" [show]="false"></ion-tab>
</ion-tabs>
