page-certificados-pagar {
    input {
        @include themeBorderColor();
        border-width: 1px;
    }
    .max-width-600 {
        padding: 13px;
    }
    .card {
        margin: 3px;
        position: relative;
        width: 100%;
        margin-bottom: 14px;
        border-radius: 6px;
        background: rgba(0,0,0,.05);
        height: 200px;
        padding: 15px;
        font-size: 18px;
        font-weight: bold;
        .card__line {
            background: rgba(0,0,0,.05);
            height: 35px;
            width: 100%;
            border-radius: 6px;
            &.card__line--2 {
                margin-top: 10px;
                position: relative;
                width: 70%;
                &::after {
                    content: '';
                    display: block;
                    width: 20%;
                    height: 100%;
                    left: calc(100% + 15px);
                    top: 0;
                    @include themeBackgroundColor();
                    position: absolute;
                    border-radius: 6px;
                }
            }
        }
        .card__cvv {
            position: absolute;
            right: 15px;
        }
        .card__name {
            padding-bottom: 14px;
            text-transform: uppercase;
        }
        .card__number {
            padding-top: 14px;
        }
    }
}
