<ion-header>
  <header title="Certificado" [hideButtons]="hideButtons"></header>
</ion-header>


<ion-content>
  <form #form="ngForm" class="max-width-600">
    <div class="card">
      <div class="card__line"></div>
      <div class="card__line card__line--2"></div>
      <div class="card__number" *ngIf="cc.number">{{cc.number | mask: '0000 0000 0000 0000'}}</div>
      <div class="card__number" *ngIf="!cc.number">0000 0000 0000 0000</div>
      <div class="card__name" *ngIf="cc.name">{{cc.name}}</div>
      <div class="card__name" *ngIf="!cc.name">XXXXX XXXXXXX</div>
      <div class="card__cvv" *ngIf="cc.cvv">{{cc.cvv}}</div>
      <div class="card__cvv" *ngIf="!cc.cvv">000</div>
      <div class="card__date" *ngIf="cc.month && cc.year">{{cc.month}}/{{cc.year}}</div>
      <div class="card__date" *ngIf="!(cc.month && cc.year)">00/00</div>

    </div>
    <div padding style="white-space: pre-wrap;" [innerHtml]="global?.informacoes?.certificado?.concluir_pagamento | linkify"></div>
    <div padding-top padding-horizontal><strong><small>{{ global?.informacoes?.certificado?.titulo_dados_do_certificado }}</small></strong></div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <label>{{ global?.informacoes?.certificado?.label_nome_no_certificado }}</label>
          <input required type="text" [(ngModel)]="nome" name="nome" required [placeholder]="global?.informacoes?.certificado?.placeholder_nome_no_certificado">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <label>{{ global?.informacoes?.certificado?.campo_enviar_certificado_para }}</label>
          <!-- <div *ngFor="let email of emailsArray;let i = index" style="position: relative"> -->
            <input required type="email" [name]="'email'+i" placeholder="E-mail "  [(ngModel)]="emailsArray[0]" margin-bottom style="padding-right: 46px;">
            <!-- <button *ngIf="i" style="position: absolute;right:5px;top:0;width: 36px;min-height:36px;height: 36px;background-color: none;" ion-button icon-only (click)="emailsArray.splice(i, 1)"><ion-icon name="remove"></ion-icon></button> -->
          <!-- </div> -->
          <!-- <div text-center><button style="width: 36px;min-height:36px;height: 36px;" ion-button icon-only (click)="emailsArray[emailsArray.length - 1].length && emailsArray.push('')"><ion-icon name="add"></ion-icon></button></div> -->
          <!-- <small>Você pode enviar o certificado para mais de um e-mail, digite acima os e-mails</small> -->
        </ion-col>
      </ion-row>
    </ion-grid>
    <div padding-top padding-horizontal><strong><small>{{ global?.informacoes?.certificado?.titulo_dados_do_cartao }}</small></strong></div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <label>Nome no cartão</label>
          <input required type="text" [(ngModel)]="cc.name" name="ccname" required placeholder="Digite nome do proprietário">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <label>Número do cartão</label>
          <input required type="tel" [(ngModel)]="cc.number" name="ccnumber" mask="0000 0000 0000 0000" required
            placeholder="0000 0000 0000 0000">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <label for="">Validade</label>
          <ion-grid no-padding>
            <ion-row no-padding>
              <ion-col no-padding style="padding-right:5px">
                <input required type="tel" mask="00" [(ngModel)]="cc.month" name="ccmonth" required placeholder="MÊS" maxlength="2">
              </ion-col>
              <ion-col no-padding>
                <input required type="tel" mask="00" [(ngModel)]="cc.year" name="ccyear" required placeholder="ANO" maxlength="2">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col>
          <label for="">CVV</label>
          <input required type="tel" placeholder="000" name="cccvv" [(ngModel)]="cc.cvv" maxlength="4">
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <strong>Resumo:</strong><br>
          {{ categoria.titulo }}<br><br>

          <strong>Total</strong>: {{ certificado.preco | currency:'BRL' }}
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-col>
          <button (click)="onSubmit(form)" ion-button block>Finalizar</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>