<ion-content class="auth-pages">
  <button navPop class="duo-navpop">
    <ion-icon name="ios-arrow-back" color="primary"></ion-icon>
  </button>
  <!-- <div class="video">
    <video #video [hidden]="!global.informacoes.thumbnail_principal" [src]="global.informacoes.thumbnail_principal" autoplay="autoplay" loop="loop" muted muted="muted"></video>
  </div> -->
  <div class="logo" [ngStyle]="{keyboard:  keyboard.isOpen() ? 0 : 1}">
    <div class="logo-img"></div>
  </div>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="acesso">
    <div class="acesse">VOCÊ RECEBERÁ UM E-MAIL COM MAIS INFORMAÇÕES</div>
    <input placeholder="E-MAIL" type="email" name="email" [(ngModel)]="email">

    <button ion-button block>RECUPERAR</button>
    <div class="faca-parte" cursor-pointer (click)="facaPartePage()">
      Faça parte
    </div>
    <div class="continue-visitante" navPop>
      Entrar
    </div>

    <!-- <div class="continue-visitante">
      Continue como visitante
    </div> -->
    <a class="site" href="{{ global.informacoes.site }}" target="blank">
      {{ helpers.removeHttp(global.informacoes.site) }}
    </a>
  </form>
</ion-content>
