page-easyfit-nutri-home {
  ion-header > .toolbar.statusbar-padding:first-child {
    padding-top: 0 !important;
    min-height: 0 !important;
    padding-bottom: 10px;
  }
  .home-listagem {
    .home-item {
      position: relative;
      border-bottom: 1px solid $gray;
      padding: 0px 0px 16px;
      .top {
        position: relative;
      }
      .top span {
        display: block;
        line-height: 50px;
        font-weight: 500;
        letter-spacing: -0.5px;
        font-size: 1.2em;
      }
      .top button {
        position: absolute;
        right: -60px;
        top: 50%;
        transform: translateY(-50%);
        width: 80px;
        @media(min-width: 991px) {
          width: 60px;
        }
        text-align: left;
        margin: 0px;
        height: 40px;

        .button-inner {
          justify-content: flex-start;
          @media(min-width: 991px) {
            justify-content: center;
            text-align: center;
          }
          .icon {
            @media(min-width: 991px) {
              font-size: 1.2em;
            }
            font-weight: 700;
            font-size: 1.6em;
            line-height: 40px;
          }
        }
      }

      .home-item-food-list {
        margin-top: 16px;
        .home-item-food-item {
          .label {
            font-size: 0.8em;
          }
          ion-icon {
            padding: 10px;
            font-size: 1.2em;
            margin-right: -15px;
            margin-bottom: 0;
            margin-top: -3px;
          }
        }
      }

      & + .home-item {
        padding: 16px 0;
      }

      &:last-child {
        border-width: 0px;
      }
    }
  }


  .home-banner {
    width: 100%;
    position: absolute;
    left: 0px;
    overflow: hidden;
    margin-top: 16px;
  }
  .home-banner img {
    height: inherit;
    display: block;
    width: 100%;
    object-fit: cover;
  }
  .home-banner h2 {
    position: absolute;
    line-height: 140px;
    text-align: center;
    display: block;
    width: 100%;
    color: #fff;
    margin: 0px;
    font-size: 2em;
    font-weight: 700;
  }
  // .home-banner:before {content: "";position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;background: rgba(0,0,0,0.25);}
  // end home
}
