<ion-header>
  <ion-navbar>
    <button class="menu-toggle" ion-button menuToggle icon-only start>
      <img src="assets/icon/menu.png" width="30">
    </button>
    <home-tabbar></home-tabbar>
  </ion-navbar>
</ion-header>

<ion-content padding32>
<div class="max-width-600">
  <radio-week></radio-week>

  <div class="contador" padding-vertcal>
    <div class="contador-objetivo">
      {{ auth.user.user.objetivo_kcal }}
      <span>OBJETIVO</span>
    </div>
    /
    <div class="contador-restante">
      {{ _alimentos.day.restanteKcal }}
      <span>RESTANTE</span>
    </div>
  </div>

  <hr>

  <div class="home-listagem">
    <div text-center margin class="my-spinner" [ngClass]="{active: _alimentos.day.loading}">
      <ion-spinner></ion-spinner>
    </div>
    <div class="home-item" *ngFor="let tipo of _alimentos.tipos; let i = index" [hidden]="!tipo">
      <div class="top">
        <span> {{ tipo }} </span>
        <button ion-button class="btn btn-green" cursor-pointer (click)="refeicoesPage(i)">
          <ion-icon name="add"></ion-icon>
        </button>
      </div>
      <div class="home-item-food-list">

        <div *ngFor="let item of _alimentos.day.list[i]; let j = index" class="home-item-food-item" ion-item
          color="white" no-lines no-padding>
          <ion-avatar item-start cursor-pointer (click)="refeicoesInternaPage(_alimentos.day.list[i][j], i)">
            <img default="assets/imgs/symbol.png" [src]="item.thumbnail_principal" [alt]="item.titulo">
          </ion-avatar>
          <ion-label text-uppercase cursor-pointer (click)="refeicoesInternaPage(_alimentos.day.list[i][j], i)"><b>{{
                item.pivot?.quantidade }} </b> {{ item.titulo }}</ion-label>
          <ion-icon name="md-trash" item-end cursor-pointer (click)="_alimentos.delete(item, i)"></ion-icon>
        </div>



        <div *ngIf="_alimentos.day.list[i].length == 0" cursor-pointer (click)="refeicoesPage(i)">
          Nenhum alimento encontrado, clique no botão ao lado para começar!
        </div>

      </div>
    </div>

    <!-- <div class="home-item">
        <div class="top">
          <span>ALMOÇO</span>
          <button ion-button class="btn btn-green">
            <ion-icon name="add"></ion-icon>
          </button>
        </div>
        <div class="home-item-food-list">
          <button class="home-item-food-item" ion-item color="white" no-lines no-padding>
            <ion-avatar item-start>
              <img src="assets/imgs/banana.jpg" alt="food">
            </ion-avatar>
            <ion-label text-uppercase>1 banana</ion-label>
          </button>
  
          <button class="home-item-food-item" ion-item color="white" no-lines no-padding>
            <ion-avatar item-start>
              <img src="assets/imgs/banana.jpg" alt="food">
            </ion-avatar>
            <ion-label text-uppercase>1 banana</ion-label>
          </button>
        </div>
      </div>
   -->
    <div class="home-item">
      <div class="top">
        <span>ÁGUA</span>
        <button ion-button class="btn btn-green" cursor-pointer (click)="controleAguaPage()">
          <ion-icon name="add"></ion-icon>
        </button>
      </div>

      <consumo-agua></consumo-agua>


    </div>
  </div>

  <div class="home-banner" *ngIf="global.informacoes.banner">
    <!-- <h2>BANNER</h2> -->
    <img cursor-pointer (click)="helpers.openLink(global.informacoes.banner_link, '_blank')" [src]="global.informacoes.banner"
      alt="banner">
  </div>

</div>
</ion-content>