// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (primary: #b29041,
secondary: #32db64,
danger: #f53d3d,
light: #f4f4f4,
dark: #222,
yellow: #ffd200,
green: #008136,
easymind: #f15b08,
easyfitsports: #00649c,
easyfitnutri: #008136,
easylife: #85C1E9,
easylifegastronomia: #035d1c,
blue:       #00649c,
white:      #ffffff,
gray:       #7f7f7f,
gold:       #ffd200);


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


// theming

$button-md-height: 4.4rem;
$button-md-border-radius: 5px;
$button-md-font-size: 1.6rem;
$button-md-box-shadow: none;


$text-input-placeholder-color: #dadada;

$toolbar-md-height: 65px;
$toolbar-background: #ffffff;
$tabs-background: #ffffff;
$toolbar-md-title-text-color: color($colors, primary)
