<ion-header>
  <header [title]="_alimentos.tipos[tipo]"></header>
</ion-header>

<ion-content padding>
  <div class="max-width-600">
    <form class="search-box">
    <input type="search" placeholder="BUSCA DE ALIMENTOS" [(ngModel)]="options.search" (input)="doSearch()" name="search">
  </form>

  <div class="radio-group-default" margin-top>
    <div class="radio-group-item half">
      <input type="radio" [(ngModel)]="options.favoritado" (change)="doSearch()" [value]="0" id="lista" name="favoritado"
        checked>
      <label for="lista">LISTA</label>
    </div>
    <div class="radio-group-item half">
      <input type="radio" [(ngModel)]="options.favoritado" (change)="doSearch()" [value]="1" id="favoritos" name="favoritado"
        checked>
      <label for="favoritos">FAVORITOS</label>
    </div>
  </div>

  <div class="refeicoes-listagem" margin-top>

    <div text-center>
      <ion-spinner *ngIf="loading"></ion-spinner>
    </div>

    <div class="refeicoes-item" *ngFor="let item of _alimentos.destaques; let i = index" color="white" [hidden]="options.favoritado == 1 && item.favoritado == 0"
      no-margin>
      <div cursor-pointer (click)="refeicaoInternaPage(_alimentos.destaques[i])" class="refeicoes-item-esquerda">
        <div class="refeicoes-item-image">
          <img default="assets/imgs/symbol.png" [src]="item.thumbnail_principal" alt="">
        </div>
        <span text-left>{{ item.titulo }}</span>
      </div>
      <div class="refeicoes-item-direita">
        <ion-icon name="star" [color]="item.favoritado == 1 ? 'gold' : 'gray'" cursor-pointer (click)="_alimentos.favoritar(_alimentos.destaques[i])"></ion-icon>
        <!-- 
            ngIf para favoritos 
            <ion-icon name="star" color="gold"></ion-icon>
          -->
        <small cursor-pointer (click)="refeicaoInternaPage(_alimentos.destaques[i])">{{ item.energia }}</small>
        <ion-icon cursor-pointer (click)="refeicaoInternaPage(_alimentos.destaques[i])" name="ios-arrow-forward" color="primary"></ion-icon>
      </div>
    </div>
    <div class="refeicoes-item" *ngFor="let item of _alimentos.listPaginate; let i = index" color="white" no-margin>
      <div cursor-pointer (click)="refeicaoInternaPage(_alimentos.listPaginate[i])" class="refeicoes-item-esquerda">
        <div class="refeicoes-item-image">
          <img default="assets/imgs/symbol.png" [src]="item.thumbnail_principal" alt="">
        </div>
        <span text-left>{{ item.titulo }}</span>
      </div>
      <div class="refeicoes-item-direita">
        <ion-icon name="star" [color]="item.favoritado == 1 ? 'gold' : 'gray'" cursor-pointer (click)="_alimentos.favoritar(_alimentos.listPaginate[i])"></ion-icon>
        <!-- 
            ngIf para favoritos 
            <ion-icon name="star" color="gold"></ion-icon>
          -->
        <small cursor-pointer (click)="refeicaoInternaPage(_alimentos.listPaginate[i])">{{ item.energia }}</small>
        <ion-icon cursor-pointer (click)="refeicaoInternaPage(_alimentos.listPaginate[i])" name="ios-arrow-forward" color="primary"></ion-icon>
      </div>
    </div>
  </div>
  <div text-center *ngIf="!loading && (_alimentos.listPaginate.length == 0 && !temDestaqueFavoritado()) && infiniteScroll.state == 'enabled'">
    Nenhum alimento encontrado
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite()">
    <br><br>
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </div>
</ion-content>
