page-easyfit-nutri-refeicoes {
  .search-box {
    input {
      width: 100%;
      border-radius: 50px;
      padding: 0 20px;
      text-align: center;
      border: 1px solid #008136;
      color: $green;
      height: 50px;
      font-size: 1.2em;

      &::placeholder {
        color: $green;
        line-height: 200%;
      }
    }
  }

}
