<div class="max-width-600">
  <div class="home-tabbar">
  <div class="home-bar"></div>
  <div class="home-bar active"></div>
</div>

<div class="home-bar-description" text-center text-uppercase>
  {{ titulo() }}
</div>


<ion-item no-lines>
  <ion-label color="primary">
    <ion-icon style="font-size: 1.7em;" name="md-calendar"></ion-icon>
  </ion-label>
  <ion-datetime cancelText="Fechar" doneText="Ok" displayFormat="DD/MM/YYYY" min="2018" [(ngModel)]="_alimentos.selectedDate "
    (ngModelChange)="getDay()">
  </ion-datetime>
</ion-item>

</div>