home-tabbar {
  .item-md {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    .input-wrapper {
      flex-direction: row-reverse;
      .label-md {
        text-align: right;
      }
      .datetime-md {
        opacity: 0;
        position: absolute;
        right: 0;
      }
    }
  }
  .home-tabbar {
    position: relative;
    margin: 0;
    width: calc(100% - 105px);
    margin-left: 30px;

    .home-bar {
      width: 100%;
      height: 6px;
      border-radius: 3px;
      @include linearGradient($green, color($colors, easyfitnutri));
      margin-top: 0px;
      margin-bottom: 10px;
      position: absolute;
      &.active {
        width: 20%;
        background: $blue;
        z-index: 2;
      }
    }
  }
  .home-bar-description {
      padding-top: 15px;
      font-size: .9em;
      margin-left: -30px;
  }
}
