// http://ionicframework.com/docs/theming/
$blue: #00649c;
$lightgreen: #02be51;
$green: #008136;
$gray: #7f7f7f;
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Mixin
@mixin rem($property, $values...) {
  $n: length($values);
  $i: 1;

  $pxlist: ();
  $remlist: ();

  @while $i <= $n {
    $itemVal: (nth($values, $i));
    @if $itemVal != "auto" {
      $pxlist: append($pxlist, $itemVal + px);
      $remlist: append($remlist, ($itemVal / 10) + rem);
    } @else {
      $pxlist: append($pxlist, auto);
      $remlist: append($remlist, auto);
    }

    $i: $i + 1;
  }

  #{$property}: $pxlist;
  #{$property}: $remlist;
}

@mixin linearGradient($top, $bottom) {
  background-image: $top; /* Old browsers */
  background-image: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6+ */
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, $top),
    color-stop(100%, $bottom)
  ); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, $top 0%, $bottom 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, $top 0%, $bottom 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, $top 0%, $bottom 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, $top 0%, $bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
@mixin themeGradient {
  @include linearGradient(#c3a755, #b29041);
  .theme-easymind & {
    @include linearGradient(#ff8643, #f25d0a);
  }
  .theme-easyfit-sports & {
    @include linearGradient(#007abf, #00659e);
  }
  .theme-easyfit-nutri & {
    @include linearGradient(#02be51, #008136);
  }
  .theme-easylife & {
    @include linearGradient(#85c1e9, #2aa1e6);
  }
  .theme-easylife & {
    @include linearGradient(#02be51, #008136);
  }
}

@mixin themeColor {
  color: color($colors, primary);
  .theme-easymind & {
    color: color($colors, easymind);
  }
  .theme-easyfit-sports & {
    color: color($colors, easyfitsports);
  }
  .theme-easyfit-nutri & {
    color: color($colors, easyfitnutri);
  }
  .theme-easylife & {
    color: color($colors, easylife);
  }
  .theme-easylife-gastronomia & {
    color: color($colors, easylifegastronomia);
  }
}
@mixin themeBackgroundColor {
  background-color: color($colors, primary);
  .theme-easymind & {
    background-color: color($colors, easymind);
  }
  .theme-easyfit-sports & {
    background-color: color($colors, easyfitsports);
  }
  .theme-easyfit-nutri & {
    background-color: color($colors, easyfitnutri);
  }
  .theme-easylife & {
    background-color: color($colors, easylife);
  }
  .theme-easylife-gastronomia & {
    background-color: color($colors, easylifegastronomia);
  }
}
@mixin themeBorderColor {
  border-color: color($colors, primary);
  .theme-easymind & {
    border-color: color($colors, easymind);
  }
  .theme-easyfit-sports & {
    border-color: color($colors, easyfitsports);
  }
  .theme-easyfit-nutri & {
    border-color: color($colors, easyfitnutri);
  }
  .theme-easylife & {
    border-color: color($colors, easylife);
  }
  .theme-easylife-gastronomia & {
    border-color: color($colors, easylifegastronomia);
  }
}
@mixin themeStroke {
  stroke: color($colors, primary);
  .theme-easymind & {
    stroke: color($colors, easymind);
  }
  .theme-easyfit-sports & {
    stroke: color($colors, easyfitsports);
  }
  .theme-easyfit-nutri & {
    stroke: color($colors, easyfitnutri);
  }
  .theme-easylife & {
    stroke: color($colors, easylife);
  }
  .theme-easylifegastronomia & {
    stroke: color($colors, easylifegastronomia);
  }
}

@mixin themeBorderBottom($a: 0.25) {
  border-bottom: 1px solid
    rgba(
      $color: (
        color($colors, primary)
      ),
      $alpha: $a
    );
  .theme-easymind & {
    border-bottom: 1px solid
      rgba(
        $color: (
          color($colors, easymind)
        ),
        $alpha: $a
      );
  }
  .theme-easyfit-sports & {
    border-bottom: 1px solid
      rgba(
        $color: (
          color($colors, easyfitsports)
        ),
        $alpha: $a
      );
  }
  .theme-easyfit-nutri & {
    border-bottom: 1px solid
      rgba(
        $color: (
          color($colors, easyfitnutri)
        ),
        $alpha: $a
      );
  }
  .theme-easylife & {
    border-bottom: 1px solid
      rgba(
        $color: (
          color($colors, easylife)
        ),
        $alpha: $a
      );
  }
  .theme-easylife-gastronomia & {
    border-bottom: 1px solid
      rgba(
        $color: (
          color($colors, easylifegastronomia)
        ),
        $alpha: $a
      );
  }
}

@mixin themeLogo {
  background-image: url(../assets/imgs/easylife-corporativo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  .theme-easymind & {
    background-image: url(../assets/imgs/easymind-logo.svg);
  }
  .theme-easyfit-sports & {
    background-image: url(../assets/imgs/easyfit-sports-logo.png);
  }
  .theme-easyfit-nutri & {
    background-image: url(../assets/imgs/easyfit-nutri-logo.png);
  }
  .theme-easylife & {
    background-image: url(../assets/imgs/easylife-logo.png);
  }
  .theme-easylife-gastronomia & {
    background-image: url(../assets/imgs/easylife-gastronomia-logo.png);
  }
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirLTStd-Light.woff2") format("woff2"),
    url("../assets/fonts/AvenirLTStd-Light.woff") format("woff"),
    url("../assets/fonts/AvenirLTStd-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirLTStd-Book.woff2") format("woff2"),
    url("../assets/fonts/AvenirLTStd-Book.woff") format("woff"),
    url("../assets/fonts/AvenirLTStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//     font-family: 'Avenir';
//     src: url('../assets/fonts/AvenirLTStd-Roman.woff2') format('woff2'),
//         url('../assets/fonts/AvenirLTStd-Roman.woff') format('woff'),
//         url('../assets/fonts/AvenirLTStd-Roman.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirLT-Black.woff2") format("woff2"),
    url("../assets/fonts/AvenirLT-Black.woff") format("woff"),
    url("../assets/fonts/AvenirLT-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

*:not(i):not(ion-icon) {
  font-family: Avenir, sans-serif !important;
  letter-spacing: 0.6px;
}

[cursor-pointer] {
  cursor: pointer !important;
}
.scroll-content {
  padding-bottom: 0px !important;
}

.content-md {
  color: #5b5b5b;
  font-size: 16px;
  .theme-easyfit-nutri & {
    font-size: 15px;
  }
}
.max-width-600 {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

a {
  @include themeColor();
}

// Icones

ion-icon {
  &[class*="tab-duo-"] {
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
  }

  &[class*="tab-duo-play"] {
    background-image: url(../assets/icon/play.svg);
    width: 0.9em;
    height: 0.9em;

    [aria-selected="true"] & {
      background-image: url(../assets/icon/play-orange.svg);
    }
  }

  &[class*="tab-duo-book"] {
    background-image: url(../assets/icon/book.svg);
    
    [aria-selected="true"] & {
      background-image: url(../assets/icon/book-easyfit-sports.svg);
      .theme-easylife & {
        background-image: url(../assets/icon/book-easylife.svg);
      }
      .theme-easylife-gastronomia & {
        background-image: url(../assets/icon/book-easylife-gastronomia.svg);
      }
    }
  }
  &[class*="tab-duo-images"] {
    background-image: url(../assets/icon/images.svg);
    
    
  }
  &[class*="tab-duo-add"] {
    background-image: url(../assets/icon/add-circle.svg);
    
    
  }

  &[class*="tab-duo-bell"] {
    background-image: url(../assets/icon/bell.svg);
    
    
  }

  &[class*="tab-duo-list"] {
    background-image: url(../assets/icon/list.svg);
    
    
  }
  &[class*="tab-duo-3books"] {
    background-image: url(../assets/icon/3books.svg);

    [aria-selected="true"] & {
      background-image: url(../assets/icon/3books-easylife.svg);
    }
  }
  &[class*="tab-duo-utensils"] {
    background-image: url(../assets/icon/utensils.svg);

    [aria-selected="true"] & {
      background-image: url(../assets/icon/utensils-easylife-gastronomia.svg);
    }
  }

  &[class*="tab-duo-phone"] {
    background-image: url(../assets/icon/phone.svg);
    
    [aria-selected="true"] & {
      background-image: url(../assets/icon/phone-easyfit-sports.svg);
      .theme-easylife & {
        background-image: url(../assets/icon/phone-easylife.svg);
      }
      .theme-easylife-gastronomia & {
        background-image: url(../assets/icon/phone-easylife-gastronomia.svg);
      }
    }
    
  }

  &[class*="tab-duo-hand"] {
    background-image: url(../assets/icon/hand.svg);

    [aria-selected="true"] & {
      background-image: url(../assets/icon/hand-easyfit-sports.svg);
      .theme-easylife-gastronomia & {
        background-image: url(../assets/icon/hand-easylife-gastronomia.svg);
      }
    }
  }

  &[class*="tab-duo-quotes"] {
    background-image: url(../assets/icon/quotes.svg);

    [aria-selected="true"] & {
      background-image: url(../assets/icon/quotes-orange.svg);
    }
  }

  &[class*="tab-duo-star"] {
    background-image: url(../assets/icon/star.svg);

    [aria-selected="true"] & {
      background-image: url(../assets/icon/star-orange.svg);
      .theme-easyfit-sports & {
        background-image: url(../assets/icon/star-easyfit-sports.svg);
      }
      .theme-easyfit-nutri & {
        background-image: url(../assets/icon/star-easyfit-nutri.svg);
      }
      .theme-easylife & {
        background-image: url(../assets/icon/star-easylife.svg);
      }
      .theme-easylife-gastronomia & {
        background-image: url(../assets/icon/star-easylife-gastronomia.svg);
      }
    }
  }

  &[class*="tab-duo-music"] {
    background-image: url(../assets/icon/music.svg);

    [aria-selected="true"] & {
      background-image: url(../assets/icon/music-orange.svg);
    }
  }

  // tem uns icones no easynutri la embaixo
  &[class*="duo-"]:not([class*="tab-"]) {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background-color: currentColor;
    width: 1em;
    height: 1em;

    &[class*="duo-restaurant"] {
      mask-image: url(../assets/icon/restaurant.png);
    }
    &[class*="duo-water"] {
      mask-image: url(../assets/icon/water.png);
    }
    &[class*="duo-book"] {
      mask-image: url(../assets/icon/book.png);
    }
    &[class*="duo-milk"] {
      mask-image: url(../assets/icon/milk.png);
    }
    &[class*="duo-easylife"] {
      mask-image: url(../assets/icon/easyfit.png);
    }
    &[class*="duo-kcal"] {
      mask-image: url(../assets/icon/kcal.png);
    }
    &[class*="duo-phone"] {
      mask-image: url(../assets/icon/phone.png);
    }
    &[class*="duo-dumbbell"] {
      mask-image: url(../assets/icon/dumbbell.png);
    }
    &[class*="duo-easylife-large"] {
      mask-image: url(../assets/imgs/symbol.png);
    }

    &[class*="duo-hand"] {
      mask-image: url(../assets/icon/hand.svg);
    }

    &[class*="duo-phone"] {
      mask-image: url(../assets/icon/phone.svg);
    }

    &[class*="duo-book"] {
      mask-image: url(../assets/icon/book.svg);
    }
    &[class*="duo-3books"] {
      mask-image: url(../assets/icon/3books-white.svg);
    }
    &[class*="duo-utensils"] {
      mask-image: url(../assets/icon/utensils-white.svg);
    }

    &[class*="duo-play"] {
      mask-image: url(../assets/icon/play.svg);
      width: 0.9em;
      height: 0.9em;
    }

    &[class*="duo-quotes"] {
      mask-image: url(../assets/icon/quotes.svg);
    }

    &[class*="duo-star"] {
      mask-image: url(../assets/icon/star.svg);
    }

    &[class*="duo-music"] {
      mask-image: url(../assets/icon/music.svg);
    }

    &[class*="duo-checkmark"] {
      mask-image: url(../assets/icon/checkmark.svg);
    }
  }

  &[class*="easymind-isotipo"] {
    // mask-size: contain;
    // mask-position: 50% 50%;
    // mask-repeat: no-repeat;
    // background-color: currentColor;
    width: 1.6em;
    height: 1.6em;
    background-image: url(../assets/imgs/isotipo.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.auth-pages {
  background-image: url(../assets/imgs/login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  // text-shadow: 1px 1px rgba(0, 0, 0, 0.4);

  text-align: center;

  .video {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    video {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .scroll-content {
    .logo,
    .acesso {
      flex: 0 0 100%;
      padding-left: 20px;
      padding-right: 20px;
    }

    .logo {
      opacity: 1;
      transition: all 0.4s ease;
      margin-bottom: 40px;
      @media (max-height: 700px) {
        padding-top: 15vh;
      }
      @media (min-height: 700px) {
        padding-top: 18vh;
      }
      &.keyboard {
        transform: translateY(-100%);
      }

      img,
      .logo-img {
        width: 260px;
        height: 120px;
        max-width: 90%;
        margin-top: 40px;
        margin-bottom: 10px;
        background-image: url(../assets/imgs/logo-efeito.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        display: inline-block;
      }

      .bem-vindo {
        font-size: 20px;
      }
    }

    .acesso {
      .acesse {
        font-size: 15px;
      }

      input {
        color: #000000;
        margin-bottom: 10px;
        margin-top: 6px;
        max-width: 425px;
        margin-left: auto;
        margin-right: auto;
      }

      button {
        max-width: 425px;
        margin-left: auto;
        margin-right: auto;
      }

      a {
        color: inherit;
        text-decoration: none;
      }

      .faca-parte {
        font-weight: 600;
        padding-top: 18px;
        padding-bottom: 10px;
        font-size: 18px;
        position: relative;
      }

      .faca-parte::after {
        content: "";
        display: block;
        width: 50%;
        max-width: 100px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 0.2);
        height: 1px;
        bottom: -2px;
        position: absolute;
      }

      .continue-visitante {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 8px;
      }

      .site {
        display: inline-block;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
  }
}

// Icones

.duo-navpop {
  font-size: 46px;
  .icon-md-primary {
    @include themeColor();
  }
  background-color: transparent;
  margin-bottom: 10px;
  position: absolute;
  z-index: 2;
  left: 15px;
  top: 15px;
  opacity: 0.5;
  padding-left: 0 !important;
}

.button:not(.picker-button),
.btn:not(.picker-button) {
  font-weight: 600;
  .theme-easyfit-nutri & {
    border-radius: $button-md-height;
  }
  @include themeGradient();
}

input,
textarea,
select,
.input[details-none] input,
.textarea[details-none] textarea,
.select[details-none] select {
  height: $button-md-height;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #ffffff;
  margin-left: 0;
  -webkit-transform: translateZ(0px) !important;
}

input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid,
select.ng-touched.ng-invalid,
.input[details-none] input.ng-touched.ng-invalid,
.textarea[details-none] textarea.ng-touched.ng-invalid,
.select[details-none] select.ng-touched.ng-invalid {
  border-color: rgb(155, 27, 27);
}

textarea,
.textarea[details-none] textarea {
  height: auto;
  padding-top: 16px;
}

input::placeholder,
select::placeholder,
textarea::placeholder,
.input[details-none] input::placeholder,
.select[details-none] select::placeholder,
.textarea[details-none] textarea::placeholder {
  @include themeColor();
}

input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid,
select.ng-touched.ng-invalid,
.input[details-none] input.ng-touched.ng-invalid,
.textarea[details-none] textarea.ng-touched.ng-invalid,
.select[details-none] select.ng-touched.ng-invalid {
  color: color($colors, danger) !important;
  border-color: color($colors, danger) !important;
}

input.ng-touched.ng-invalid::placeholder,
select.ng-touched.ng-invalid::placeholder,
textarea.ng-touched.ng-invalid::placeholder,
.input[details-none] input.ng-touched.ng-invalid::placeholder,
.select[details-none] select.ng-touched.ng-invalid::placeholder,
.textarea[details-none] textarea.ng-touched.ng-invalid::placeholder {
  color: color($colors, danger) !important;
}

.menu {
  background-image: url(../assets/imgs/menu-easy.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-transform: uppercase;
  @include themeBackgroundColor();
  .theme-easyfit-nutri & {
    background-image: url(../assets/imgs/menu-easyfit-nutri.png);
  }
  .theme-easyfit-sports & {
    background-image: url(../assets/imgs/menu-easyfit-sports.png);
  }
  .theme-easylife & {
    background-image: url(../assets/imgs/menu-easylife.png);
  }
  .theme-easylife-gastronomia & {
    background-image: url(../assets/imgs/menu-easylife-gastronomia.jpg);
  }

  .theme-easyfit-central & {
    background-image: url(../assets/imgs/menu-central.jpg);
  }

  .theme-easyfit-gestao & {
    background-image: url(../assets/imgs/menu-gestao.jpg);
  }

  .theme-easymind & {
    @include linearGradient(#ff8643, #f25d0a);
  }

  .menu-lista {
    list-style: none;
    padding-top: 45px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;

    & > li {
      display: flex;
      align-items: center;
      font-weight: 500;
      padding-top: 22px;
      padding-bottom: 22px;
      padding-left: 45px;
      padding-right: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      font-size: 18px;

      & > ion-icon {
        margin-right: 27px;
      }

      & > img {
        width: 30px;
        height: 20px;
        object-fit: contain;
        object-position: left center;
        margin-right: 15px;

        &.play {
          height: 18px;
          padding-left: 3px;
        }

        &.quote {
          height: 16px;
        }
      }
    }
  }

  .menu-rodape {
    padding-top: 75px;
    padding-left: 45px;
    padding-right: 45px;

    .menu-redes {
      display: flex;

      img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        object-position: left center;
        margin-right: 10px;
        display: inline-block;
      }
    }

    .menu-logo {
      margin-top: 10px;
      width: 150px;
      height: 70px;
      @include themeLogo();
      filter: brightness(0) grayscale(100%) invert(1);
      display: block;
    }

    .menu-produto {
      margin-top: 6px;
      font-size: 12.5px;
    }
  }
}

ion-navbar {
  margin-top: constant(safe-area-inset-top); //for iOS 11.2
  margin-top: env(safe-area-inset-top); //for iOS 11.1
}
.toolbar-title-md {
  @include themeColor();
  margin-left: -10px;
  @media (max-width: 359px) {
    font-size: 16px;
  }
}
.header-md::after {
  background-image: url(../assets/imgs/menu-shadow.png);
  height: 30px;
  bottom: -30px;
  pointer-events: none;
}

.footer-md::before,
.tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  background-image: url(../assets/imgs/tabs-shadow.png);
  height: 30px;
  top: -30px;
  pointer-events: none;
}

.easymind-list {
  .list-item {
    position: relative;
    @include themeBorderBottom();

    padding-top: 15px;
    padding-bottom: 10px;

    .list-title {
      // quando o item ta aberto o titulo muda, css abaixo
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 16.5px;
      padding-right: 30px;
      padding-bottom: 7px;
      position: relative;
      @include themeColor();

      ion-icon {
        font-size: 30px;
        transition: all 0.4s ease;
        @include themeColor();
        position: absolute;
        right: 0;
        top: -4px;
        transform: rotate(0);
      }
    }

    &.open {
      border-bottom: transparent;

      .list-title {
        white-space: normal;

        ion-icon {
          right: 4px;
          transform: rotate(90deg);
        }
      }
    }

    .sublist {
      transition: all 0s ease;
      opacity: 0;
      visibility: hidden;
      height: 0px;
      display: none;
      transform: translate3d(0, -5px, 0);

      sublist-item,
      .sublist-item {
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: relative;
        display: flex;
        justify-content: space-between;
        @include themeBorderBottom();
        @media (min-width: 991px) {
          flex-wrap: wrap;
          flex: 0 0 calc(33.3333%);
          padding-left: 7.5px;
          padding-right: 7.5px;
          margin-bottom: 15px;
        }
        &.sublist-item-100 {
          flex: 0 0 100%;
          width: 100%;
        }

        .sublist-img {
          display: none;
          @media (min-width: 991px) {
            display: block;
            width: 100%;
            padding-bottom: 56.25%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;

            background-color: #f4f4f4;
          }
        }

        .sublist-title {
          flex-shrink: 1;
          flex-grow: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          @media(min-width: 991px) {
            max-width: calc(100% - 155px);
          }
          padding-top: 15px;
          padding-bottom: 15px;

          &.sublist-title-upper {
            text-transform: uppercase;
          }
        }

        .sublist-icons {
          flex-grow: 0;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          .level {
            height: 22px;
            transform: translateY(-2px);
            margin-right: 5px;
          }
          button {
            height: 100%;
            padding-left: 7.5px;
            padding-right: 7.5px;
            background-color: transparent;
            border: 0;
            font-size: 15px;
            color: #b2b2b2;

            .ion-ios-eye {
              font-size: 28px;
            }

            &:last-of-type {
              margin-right: -7.5px;
            }
          }
        }
      }
    }

    &.open .sublist {
      transition: all 0.6s ease;
      height: auto;
      visibility: visible;
      opacity: 1;
      transform: translate3d(0, 00px, 0);
      display: block;
      @media (min-width: 991px) {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

form {
  .item-input,
  .item-select {
    padding-left: 0;
    font-size: 18px;

    input {
      margin-top: 10px;
      margin-bottom: 8px;
    }

    &.item-block .item-inner,
    &.item-input:last-child {
      @include themeBorderBottom();
    }

    .label,
    .label-md {
      width: 100px;
      color: #5b5b5b;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .button {
    min-height: 50px;
  }
}

.loading-md .spinner-crescent circle,
.loading-md .spinner-crescent circle {
  @include themeStroke();
}

.checkbox-md .checkbox-checked {
  @include themeBackgroundColor();
  @include themeBorderColor();
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
  @include themeColor();
  margin-left: 10px;
  // margin-right: -20px;
  transform: translateY(2px);
}
.back-button.show-back-button {
  position: relative;
  z-index: 300000;
  margin-right: 2px;
  margin-left: 0;
  .back-button-icon-md {
    padding-left: 10px;
    margin-left: -10px;
  }
  & + .menu-toggle {
    display: none;
  }
}
.icon-md-primary {
  @include themeColor();
}

.picker-md .picker-button,
.picker-md .picker-button.activated {
  @include themeColor();
}

.picker-md .picker-prefix,
.picker-md .picker-suffix,
.picker-md .picker-opt.picker-opt-selected {
  @include themeColor();
}

.tabs-md .tab-button[aria-selected="true"] .tab-button-icon {
  @include themeColor();
}
.tabs-md .tab-button[aria-selected="true"] {
  @include themeColor();
}
.range-md .range-knob,
.range-md .range-bar-active,
.range-md .range-pin,
.range-md .range-pin::before {
  @include themeBackgroundColor();
}

.label-md-primary,
.item-input .label-md-primary,
.item-select .label-md-primary,
.item-datetime .label-md-primary {
  @include themeColor();
}

.alert-md .alert-button {
  @include themeColor();
}

.alert-md [aria-checked=true] .alert-radio-label {
  @include themeColor();
}
.alert-md [aria-checked=true] .alert-radio-icon {
  @include themeBorderColor();
}
.alert-md .alert-radio-inner {
  @include themeBackgroundColor();
}

/** NUTRI */
/** NUTRI */
/** NUTRI */
/** NUTRI */
/** NUTRI */
/** NUTRI */
/** NUTRI */
/** NUTRI */
/** NUTRI */

.theme-easyfit-nutri {
  ion-icon {
    &[class*="duo-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background-color: currentColor;
      width: 1em;
      height: 1em;
    }
    &[class*="duo-restaurant"] {
      mask-image: url(../assets/icon/restaurant.png);
    }
    &[class*="duo-water"] {
      mask-image: url(../assets/icon/water.png);
    }
    &[class*="duo-book"] {
      mask-image: url(../assets/icon/book.png);
    }
    &[class*="duo-milk"] {
      mask-image: url(../assets/icon/milk.png);
    }
    &[class*="duo-easylife"] {
      mask-image: url(../assets/icon/easyfit.png);
    }
    &[class*="duo-kcal"] {
      mask-image: url(../assets/icon/kcal.png);
    }
    &[class*="duo-phone"] {
      mask-image: url(../assets/icon/phone.png);
    }
    &[class*="duo-dumbbell"] {
      mask-image: url(../assets/icon/dumbbell.png);
    }
    &[class*="duo-list"] {
      mask-image: url(../assets/icon/list.svg);
    }
    &[class*="duo-bell"] {
      mask-image: url(../assets/icon/bell.svg);
    }
    &[class*="duo-easylife-large"] {
      mask-image: url(../assets/imgs/symbol.png);
      width: 1.7em;
      height: 1.7em;
      background: url(../assets/imgs/symbol.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  .header-md::after {
    // background: transparent !important;
  }
  .toolbar-title-md {
    color: $blue;
  }

  .btn {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    font-size: 1.2em;
    font-weight: 700;

    &.btn-green {
      color: #ffffff;
      @include linearGradient(#02be51, #008136);

      &.activated {
        background: #008136;
      }
    }
  }

  .forms {
    .item-md.details-none,
    .item-md[details-none] {
      padding-left: 0;
      .item-inner {
        padding-right: 0;
      }
    }
    input {
      width: 100%;
      border-radius: 50px;
      padding: 0 20px;
      text-align: center;
      border: 1px solid $green;
      color: $blue;
      height: 50px;
      font-size: 16.8px;
      line-height: 50px;

      &::placeholder {
        color: $blue;
      }
    }
    ion-datetime {
      width: 100%;
      border-radius: 50px;
      padding: 0 20px;
      text-align: center;
      border: 1px solid #008136;
      color: $blue;
      height: 50px;
      font-size: 16.8px;
      .datetime-text {
        line-height: 51px;
        color: inherit;
        font-size: 16.8px;
      }
    }

    textarea {
      width: 100%;
      border: 1px solid #008136;
      padding: 20px;
      border-radius: 30px;
      font-size: 16.8px;
      color: $green;

      &::placeholder {
        color: $green;
      }
    }
    &.inline-form {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;

      input {
        width: 50%;
      }

      button {
        flex-grow: 1;
        margin-left: 16px;
      }
    }
  }

  [padding32] .scroll-content {
    padding: 16px 32px;
  }

  .btn-arrow {
    background: transparent !important;
    color: $blue;

    span {
      justify-content: flex-end;
      line-height: 44px;
    }
    .icon {
      line-height: 44px;
      @include rem("margin-left", 10);
    }
  }

  .blue-title {
    font-size: 22px;
    font-weight: 500;
    color: $blue;
    margin: 20px 0;
  }
  .cover-image {
    position: relative;
    min-height: 160px;
    overflow: hidden;

    img {
      height: 160px;
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }
  .radio-group-default {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .radio-group-item {
      flex: 0 1 100%;
      input[type="radio"] {
        display: none;

        &:checked + label {
          color: #ffffff;
          @include linearGradient(#02be51, #008136);
        }
      }

      label {
        height: 50px;
        border: 1px solid;
        width: 100%;
        text-align: center;
        display: block;
        line-height: 50px;
        border-radius: 50px;
        color: $green;
        font-weight: 500;
        transition: all 350ms;
        background-color: white;
      }

      &.half {
        flex: 0 1 48%;
      }
    }
  }

  .radio-group-default2 {
    margin-top: 16px;
    .radio-group-item {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 16px;
      label {
        flex-grow: 1;
        padding-right: 10px;
      }

      input {
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        background: #dedede;
        border-radius: 10px;

        &:checked {
          @include linearGradient(#02be51, #008136);
        }
      }
    }
  }

  .contador {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: $blue;
    font-weight: 300;
    .contador-objetivo {
      color: $blue;
    }

    .contador-restante {
      color: $green;
    }

    .contador-objetivo,
    .contador-restante {
      text-align: center;
      font-weight: 700;
      font-size: 20px;
      margin: 0 10px;
      span {
        display: block;
        font-weight: 400;
        font-size: 0.6em;
        color: #000;
      }
    }
  }

  /** refeicoes */ // listagem refeicoes
  .refeicoes-listagem {
    .refeicoes-item {
      display: flex;
      justify-content: space-between;
      padding: 16px 0;
      height: auto;
      border-radius: 0px;

      .refeicoes-item-esquerda {
        text-overflow: ellipsis;
        overflow: hidden;
        display: flex;
        align-items: center;
      }
      .refeicoes-item-direita {
        flex-shrink: 0;
        min-width: 100px;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        .icon {
          font-weight: 700;
          font-size: 1.6em;
          line-height: 40px;
        }
      }

      .refeicoes-item-image {
        min-width: 36px;
        min-height: 36px;
        position: relative;
        margin-right: 10px;
        display: inline-block;

        img {
          height: 36px;
          width: 36px;
          display: block;
          border-radius: 50%;
          object-fit: cover;
          border: 1px solid $blue;
        }
      }

      span {
        text-overflow: ellipsis;
        display: inline-block;
        overflow: hidden;
        margin-top: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      small {
        font-weight: 600;
        font-size: 1em;
        line-height: 1;
        margin-top: 2px;
        color: $green;
      }

      .icon {
        margin: 0 10px;
        font-size: 1.6em;
        line-height: 1;
        &[name="arrow-forward"] {
          font-size: 1.8em;
          transform: translateY(2px);
        }
      }

      & + .refeicoes-item {
        border-top: 0.55px solid $green;
      }
    }
  }
  /** refeicoes */

  hr {
    background-color: #7f7f7f !important;
    margin: 16px 0;
    height: 1px !important;
    opacity: 0.65;
  }
  .my-spinner {
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.4s ease;

    &.active {
      height: 30px;
    }
  }

  // refeicao interna

  .refeicao-interna {
    padding: 16px 32px;

    .refeicao-interna-title {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;

      span {
        line-height: 22px;
        margin-top: 4px;
        font-size: 1.2em;
        color: $blue;
      }
      .icon {
        margin-left: 6px;
        font-size: 1.6em;
      }
    }

    .refeicao-interna-info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .info-item {
        flex: 0 1 50%;
        text-align: center;
        margin-bottom: 10px;
        small {
          display: block;
          font-weight: 500;
          color: $green;
          font-size: 1em;
          display: block;
          margin-bottom: 5px;
        }
      }
    }
  }

  // end refeicao interna
}

.theme-easyfit-central .toolbar-title-md 
{
  color: #cdbb72
}
