<ion-menu [content]="content" persistent="true" *ngIf="auth.isLoggedIn()">
  <ion-content class="menu">

    <ul class="menu-lista">

      <ng-container *ngIf="aplicativos.item.id == 1">
        <li menuClose tappable cursor-pointer (click)="openTabPage(2)">
          <img src="assets/icon/home-white.png"> Home
        </li>
        <li menuClose tappable cursor-pointer (click)="openTabPage(0)">
          <img src="assets/icon/play-white.svg" class="play"> Roteiros
        </li>
        <li menuClose tappable cursor-pointer (click)="openTabPage(1)">
          <img src="assets/icon/quotes-white.svg" class="quote"> Motive-se
        </li>
        <li menuClose tappable cursor-pointer (click)="openTabPage(3)">
          <img src="assets/icon/star-white.svg"> Favoritos
        </li>
        <li menuClose tappable cursor-pointer (click)="openTabPage(4)">
          <img src="assets/icon/music-white.svg"> Áudios
        </li>
      </ng-container>

      <ng-container *ngIf="aplicativos.item.id == 2 || aplicativos.item.id == 4 || aplicativos.item.id == 7">
        <li menuClose tappable cursor-pointer (click)="easyfitSportsTabsPage()">
          <img src="assets/icon/home-white.png"> Home
        </li>


        <li menuClose tappable cursor-pointer (click)="categoriasCounteudosPage()">
          <ion-icon name="duo-hand" *ngIf="aplicativos.item.id == 2"></ion-icon>
          <ion-icon name="duo-3books" *ngIf="aplicativos.item.id == 4"></ion-icon>
          <ion-icon name="duo-utensils" *ngIf="aplicativos.item.id == 7"></ion-icon>
          <!-- {{ _categorias.current.id ? _categorias.current.titulo : 'Categorias'}} -->
          Categoria
        </li>

        <li menuClose tappable cursor-pointer (click)="favoritosPage()">
          <img src="assets/icon/star-white.svg"> Favoritos
        </li>
        <li menuClose tappable cursor-pointer (click)="pdfsEDicasPage()">
          <ion-icon name="duo-book"></ion-icon>
          <ng-container *ngIf="_pdfs.list.length">CONTEÚDOS E&ensp;</ng-container>DICAS
        </li>
      </ng-container>

      <ng-container *ngIf="aplicativos.item.id == 3">
        <li menuClose tappable cursor-pointer (click)="easyfitNutriTabsPage()">
          <img src="assets/icon/home-white.png"> HOME
        </li>
        <li menuClose tappable cursor-pointer (click)="easyfitNutriTab(1)">
          <ion-icon name="duo-restaurant"></ion-icon> MINHAS REFEIÇÕES
        </li>
        <li menuClose tappable cursor-pointer (click)="easyfitNutriTab(2)">
          <ion-icon name="duo-water"></ion-icon> CONTROLE DE ÁGUA
        </li>
        <li menuClose tappable cursor-pointer (click)="easyfitNutriTab(4)">
          <ion-icon name="duo-dumbbell"></ion-icon> ATIVIDADE FÍSICA
        </li>
        <li menuClose tappable cursor-pointer (click)="easyfitNutriTab(5)">
          <ion-icon name="duo-kcal"></ion-icon> CÁLCULO DE CALORIAS
        </li>
      </ng-container>

      <li menuClose tappable cursor-pointer (click)="perfilPage()">
        <img src="assets/icon/profile-white.png"> Perfil
      </li>
      <!-- <li menuClose tappable cursor-pointer (click)="openTabPage(6)" *ngIf="global.informacoes.c">
        <ion-icon name="barcode"></ion-icon> Código
      </li> -->
      <li menuClose tappable cursor-pointer (click)="conhecaPage()">
        <img src="assets/icon/easymind-white.png"> {{ global.conheca.titulo }}
      </li>
      <li menuClose tappable cursor-pointer (click)="contatoPage()">
        <img src="assets/icon/phone-white.svg"> Contato
      </li>
      <li menuClose tappable cursor-pointer (click)="aplicativosPage()">
        <ion-icon name="phone-portrait"></ion-icon> Módulos
      </li>
      <ng-container *ngIf="aplicativos.item.id != 3">
        <li menuClose tappable cursor-pointer *ngIf="!aplicativos.item.id" (click)="logout()">
          <ion-icon name="md-log-out"></ion-icon> Sair
        </li>
        <li menuClose tappable cursor-pointer *ngIf="aplicativos.item.id" (click)="aplicativosPage()">
          <ion-icon name="md-log-out"></ion-icon> Sair
        </li>
      </ng-container>
      <ng-container *ngIf="aplicativos.item.id == 3">
        <li menuClose tappable cursor-pointer *ngIf="aplicativos.item.id" (click)="easylifePage()">
          <ion-icon name="md-log-out"></ion-icon> Sair
        </li>
      </ng-container>
    </ul>
    <div class="menu-rodape">
      <div class="menu-redes">
        <a *ngIf="global.informacoes.instagram" href="{{ global.informacoes.instagram }}" target="blank">
          <img src="assets/icon/instagram-white.png">
        </a>
        <a *ngIf="global.informacoes.facebook" href="{{ global.informacoes.facebook }}" target="blank">
          <img src="assets/icon/facebook-white.png">
        </a>
        <a *ngIf="global.informacoes.youtube" href="{{ global.informacoes.youtube }}" target="blank">
          <img src="assets/icon/youtube-white.png">
        </a>
        <a *ngIf="global.informacoes.twitter" href="{{ global.informacoes.twitter }}" target="blank">
          <img src="assets/icon/twitter-white.png">
        </a>
      </div>
      <div class="menu-logo"></div>
      <div class="menu-produto" margin-bottom>
        <!-- UM PRODUTO EASYLIFE -->
      </div>
    </div>

  </ion-content>

</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>