page-easyfit-sports-home {
  // backgrou
  .categorias {
    width: 100%;
    height: 100%;
    background-color: #cccccc;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    .top {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include themeBackgroundColor();
      color: white;
      text-transform: uppercase;
    }

    .item {
      height: 32%;
      flex: 0 0 100%;
      background-size: cover;
      background-position: center center;
      text-transform: uppercase;
      text-align: center;
      color: white;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-wrap: wrap;
      font-weight: 500;
      overflow: hidden;
      min-height: 150px;
      background-color: #cccccc;

      .label {
        white-space: normal;
      }
      
      @media (max-width: 340px) {
        font-size: 16px;
      }
      @media(min-width: 991px) {
        flex: 0 0 33.33333%;
        width: 33.3333%;
      }

      &:nth-child(even) {
        background-color: color($colors, easyfitsports);
      }

      &:nth-child(odd) {
        background-color: rgb(71, 71, 71);
      }

      &::after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: white;
        opacity: 0;
        content: ''
      }
      &:hover::after {
        opacity: .15;
      }

    }
  }
}
