<!--
  Generated template for the CategoriasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header title="Home"></header>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="onRefresher()">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="categorias"
    [style.background-image]="aplicativos.item.id == 4 ? 'url(assets/imgs/easylife-fundo.jpg)' : ''">
    <div class="top" cursor-pointer (click)="categoriasConteudosPage(_categorias.list[0])" *ngIf="aplicativos.item.id != 7">
      <ion-icon name="duo-play" style="font-size: .7em;transform: translateY(-1px)"></ion-icon>
      &ensp;{{ _categorias.list[0]?.titulo }}
    </div>
    <!-- <div class="item item-100" [ngStyle]="{'background-image': 'url('+ (_categorias.list[1] ? _categorias.list[1].thumbnail_principal : 'assets/imgs/categorias-orange.png') +')'}" cursor-pointer (click)="moduloPage(_categorias.list[1])">
        <div class="title">{{ _categorias.list[1]?.titulo }}</div>
      </div> -->

    <button ion-item detail-none no-lines *ngFor="let item of _categorias.list;let i = index" [hidden]="aplicativos.item.id != 7 && i == 0" class="item"
      cursor-pointer (click)="categoriasConteudosPage(item)"
      [ngStyle]="{'background-image': 'url('+ item.thumbnail_principal +')'}">
      <ion-label class="title">
        <ion-icon name="duo-play" style="font-size: .7em;"></ion-icon>&ensp;{{ item.titulo }}
      </ion-label>
    </button>
    
    <button ion-item detail-none no-lines class="item"
      cursor-pointer (click)="easyfitNutriPage()" *ngIf="aplicativos.item.id == 4"
      [ngStyle]="{'background-image': 'url('+ easyfitNutri.fundo +')'}">
      <ion-label class="title">
        <img src="{{ (easyfitNutri.thumbnail_principal) }}" style="filter: brightness(0) invert(1);
        width: 40%;
        min-width: 180px;
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
        transition: all 0.3s ease;">
      </ion-label>
    </button>

  </div>
</ion-content>