<ion-tabs #tabRef selectedIndex="2" (ionChange)="transition($event)">
    <ion-tab tabsHideOnSubPages="false" [root]="tab0Root" tabIcon="tab-duo-add"></ion-tab>
    <ion-tab tabsHideOnSubPages="false" [root]="tab1Root" tabIcon="tab-duo-images"></ion-tab>
    <ion-tab tabsHideOnSubPages="false" [root]="tab2Root" tabIcon="easymind-isotipo"></ion-tab>
    <ion-tab tabsHideOnSubPages="false" [root]="tab3Root" tabIcon="tab-duo-book"></ion-tab>
    <ion-tab tabsHideOnSubPages="false" [root]="tab4Root" tabIcon="tab-duo-phone"></ion-tab>
  </ion-tabs>
  