header {
  ion-navbar {
    .menu-toggle {
      padding-top: 6px;
      @media (max-width: 359px) {
        margin-left: 0;
        img {
          width: 20px;
        }
      }
    }

    .toolbar-content {
      display: flex;
      justify-content: space-between;

      ion-title {
        flex: 1 1 auto;
        text-align: center;
        text-transform: uppercase;
        padding-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .search {
        flex: 0 0 50px;
        padding-top: 10px;
        .theme-easyfit-nutri & {
          display: none;
        }
        @media (max-width: 359px) {
          flex: 0 0 25px;
          margin-right: 10px;
        }
      }
      .profile {
        @include themeBackgroundColor();
        border-radius: 50%;
      }
    }
  }

  .search-input {
    z-index: 99999;
    position: fixed;
    top: -$toolbar-md-height;
    left: 0;
    height: $toolbar-md-height;
    width: 100%;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &.open {
      top: 0;
      opacity: 1;
      top: constant(safe-area-inset-top); //for iOS 11.2
      top: env(safe-area-inset-top); //for iOS 11.1
    }

    input {
      height: 100%;
      width: 100%;
      border: 0;
      background-color: white;
      padding-right: 65px;
      font-size: 20px;
    }

    button {
      display: block;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      @include themeColor;
      font-size: 38px;
      background-color: transparent;
      border: 0;
      padding-right: 0;

      &:hover {
        outline: none;
      }
    }
  }
}
