<form class="search-input" (ngSubmit)="doSearch()" [ngClass]="{open: searchOpen}">
  <input #input type="text" [(ngModel)]="search" name="search" placeholder="Buscar...">
  <button details-none type="button">
    <ion-icon name="ios-close" cursor-pointer (click)="closeSearch()"></ion-icon>
  </button>
</form>
<ion-navbar>
  <button class="menu-toggle" *ngIf="showMenu && !hideButtons" ion-button menuToggle icon-only start>
    <img src="assets/icon/menu.png" width="30">
  </button>
  <ion-title>{{ title }}</ion-title>
  <div *ngIf="!showPerfil && !hideButtons && !hideSearch" class="search" cursor-pointer (click)="openSearch()">
    <img src="assets/icon/search.png" width="28">
  </div>
  <div *ngIf="showPerfil && !hideButtons && hideSearch" class="search" cursor-pointer (click)="perfilPage()">
    <img src="assets/icon/profile-white.png" width="28" class="profile">
  </div>
</ion-navbar>
 