page-faca-parte {
  form {
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
  }
  .auth-pages .scroll-content .logo {
    padding-top: 5vh;
  }
  .aceitar {
    display: inline-block;
    text-align: left;
  }

  .checkbox-md .checkbox-icon {
    width: 20px;
    height: 20px;
  }

  .checkbox-md .checkbox-checked .checkbox-inner {
    left: 5px;
    top: 2px;
  }
}
