<!--
  Generated template for the FacaPartePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content class="auth-pages">
  <button navPop class="duo-navpop">
    <ion-icon name="ios-arrow-back" color="primary"></ion-icon>
  </button>
  <!-- <div class="video" style="transition: all .3s ease">
    <video #video [hidden]="!global.informacoes.thumbnail_principal" [src]="global.informacoes.thumbnail_principal"
      autoplay="autoplay" loop="loop" muted muted="muted"></video>
  </div> -->
  <div class="logo">
    <div class="logo-img"></div>
    <div class="bem-vindo">B E M - V I N D O</div>
  </div>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="acesso">

    <input required type="text" name="nome" [(ngModel)]="user.first_name" placeholder="NOME">
    <input type="text" name="cpf" mask="000.000.000-00" [(ngModel)]="user.cpf" placeholder="CPF">
    <!-- <ion-input [brmasker]="{phone: true}" style="margin:0 auto;" type="text" name="telefone" [(ngModel)]="user.telefone" placeholder="TELEFONE" details-none></ion-input> -->
    <input type="tel" name="telefone" [(ngModel)]="user.telefone" placeholder="TELEFONE" mask="00 00000-0000" (keydown.backspace)="backspaceTelefone()">
    <input required type="email" name="email" [(ngModel)]="user.email" placeholder="E-MAIL">
    <input required type="password" minlength="6" name="password" [(ngModel)]="user.password" placeholder="SENHA">
    <input required type="password" minlength="6" name="confirmPassword" [(ngModel)]="user.confirmPassword" placeholder="CONFIRMAR SENHA">
    <div>
      <label class="aceitar">
        <ion-checkbox [(ngModel)]="aceito" name="aceito"></ion-checkbox> Eu aceito os
      </label>
      <b cursor-pointer (click)="termosDeUso()">termos de uso</b>
    </div>
    <button ion-button block margin-top margin-bottom>FAZER PARTE</button>
    <div class="faca-parte">
      <span navPop>Entrar</span>
    </div>
    <div class="continue-visitante">
      <span cursor-pointer (click)="esqueciSenhaPage()"> Esqueci minha senha</span>
    </div>
    <a class="site" style="display: block" padding-bottom href="{{ global.informacoes.site }}" target="blank">
      {{ helpers.removeHttp(global.informacoes.site) }}
    </a>
  </form>
</ion-content>
