<ion-header>
  <header [title]="search" [showMenu]="false" [searchPage]="true" (searchSubmit)="onSearch($event)"></header>
</ion-header>


<ion-content padding>
  <div class="easymind-list" padding-horizontal>

    <div class="list-item open">
      <div class="sublist">
        <sublist-item *ngFor="let item of list" [forcarFavorito]="true" [item]="item"></sublist-item>

      </div>
    </div>
  </div>

  <div padding text-center *ngIf="!list.length && !loading">Nada foi encontrado com a pesquisa "{{ search }}"</div>
</ion-content>