<!--
  Generated template for the PlayerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
  <div #video>
    <iframe #iframe [src]="('https://player.vimeo.com/video/' + id) | safe" *ngIf="id" width="640" height="360" frameborder="0"
      webkitallowfullscreen mozallowfullscreen allowfullscreen (load)="oniFrameLoad($event)"></iframe>
  </div>
  <button navPop class="duo-navpop">
    <ion-icon name="ios-arrow-back"></ion-icon>
  </button>
</ion-content>
