page-player {
  .scroll-content {
    background-color: #0d0d0d;
    color: white;
  }

  .duo-navpop {
    color: white;
  }

  iframe {
    position: fixed;
    width: 100vw;
    height: 100vh;
  }
}
