<!--
  Generated template for the CategoriasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header title="Listagem" [hideSearch]="true"></header>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="onRefresher()">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="listagem">
      <div class="row">
          <ion-select class="input" [(ngModel)]="area_id" cancelText="Cancelar" placeholder="Área" id="area" name="area" (ngModelChange)="doSearch($event)">
              <ion-option [value]="0"> Todas </ion-option>
              <ion-option *ngFor="let item of _area.list" [value]="item.id" >{{item.descricao}}</ion-option>
          </ion-select>
        </div> 
      <div class="item" *ngFor="let item of _consultas.list" [className]="item.novo ? 'item active' : 'item inactive'">
          <div class="row">
              <label>Data:</label> {{helpers.moment(item.data_consulta).format('DD/MM/YYYY')}}
            </div>  
            <div class="row">
                <label>Profissional:</label> {{item.nome}}
              </div> 
              <button class="botao" (click)="cadastro(item)">ACESSAR</button> 

            <button class="icone" (click)="excluir(item.id)" ion-button icon-only><ion-icon name="trash" color="danger"></ion-icon></button>
      </div>
  </div>
</ion-content>