page-gestao-listagem {
  // backgrou
  .listagem{
    padding: 10%;

    .select {margin-bottom: 30px;
      border: 1px solid #48bceb;
      padding: 5px 10px;
      border-radius: 0;
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }

    .item {
      margin-bottom: 40px;
      border: 1px solid #48bceb;
      padding: 10px;
      padding-bottom:50px;
      position: relative;
      
      label {
        margin-right: 10px
      }

      .row {
        margin-bottom: 10px
      }

      .botao {
        color: #fff;
        width: 100%;
        padding: 10px;
        background-color: #48bceb;
        position: absolute;
        left: 0;
        bottom: -5px;
        text-align: center;
      }

      .icone {
        background: transparent;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 18px;
      }
    }

    .item.inactive {
      border: 1px solid #b1aeae;

      .botao {
        background-color: #b1aeae;

      }
    }
  }
}
