<div class="sublist-img" cursor-pointer (click)="playerPage()" [style.opacity]="item.gratuito || auth.isPremium() ? 1 : .4" [style.background-image]="sanitizer.bypassSecurityTrustStyle('url('+item.imagem+')')"></div>
<div class="sublist-title" cursor-pointer (click)="playerPage()">{{ item.titulo }}</div>
<div class="sublist-icons">
  <button cursor-pointer (click)="descricao()" *ngIf="item.descricao.length > 4">
    <ion-icon name="md-information-circle" color="primary"></ion-icon>
  </button>
  <img *ngIf="item.dificuldade" [src]="'assets/icon/level-' + item.dificuldade + '.png'" class="level">
  <button>
    <ion-icon name="duo-checkmark" [color]="item.assistido ? 'green' : ''"></ion-icon>
  </button>
  <button>
    <ion-icon name="duo-star" cursor-pointer (click)="favoritar()" [color]="item.favoritado ? 'yellow' : ''"></ion-icon>
  </button>
  <button cursor-pointer (click)="playerPage()" style="width: 36px">
    <ion-icon [name]="item.tipo == 'pdf' ? 'ios-eye' : 'duo-play'" color="primary"></ion-icon>
  </button>
</div>
