<ion-tabs #tabRef selectedIndex="1" (ionChange)="transition($event)">
    <ion-tab [tabsHideOnSubPages]="false" [root]="tab1Root" tabIcon="duo-bell" color="gray"></ion-tab>
    <ion-tab [tabsHideOnSubPages]="false" [root]="tab2Root" tabIcon="duo-easylife-large"></ion-tab>
    <ion-tab [tabsHideOnSubPages]="false" [root]="tab3Root" tabIcon="duo-list" color="gray"></ion-tab>
  </ion-tabs>
  