page-central-noticias {
  // backgrou
  .listagem{
   
    
    .item {
    
      .row {
        padding: 15px;
        font-size: 16px;
      }

      img {
        max-height: 150px;
        object-fit: cover;
        width: 100%;
        object-position: center;
      }

    }
  }
}
