<!--
  Generated template for the CategoriasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header title="Notícias" [hideSearch]="true"></header>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="onRefresher()">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="listagem">
      
      <div class="item" *ngFor="let item of _noticias.list" (click)="interna(item)">
          <img src="{{item.thumbnail_principal}}">
            <div class="row">
                 {{item.titulo}} - {{helpers.moment(item.data).format('DD/MM/YYYY')}}
              </div>
              
      </div>
  </div>
</ion-content>