<ion-header>
  <header title="CÁLCULO DE CALORIAS"></header>
</ion-header>

<ion-content padding32>
  <div class="max-width-600" #layout>
    <div class="info" text-uppercase>
    <ion-item no-lines details-none>
      <ion-label color="secondary" text-wrap>
        MONITORE o quanto de calorias você ingere ou gasta durante o dia {{
        helpers.moment(_alimentos.selectedDate).format('LL') }}, Para demais datas
        <ion-icon name="md-calendar"></ion-icon>
      </ion-label>
      <ion-datetime cancelText="Fechar" doneText="Ok" displayFormat="DD/MM/YYYY" min="2018" [(ngModel)]="_alimentos.selectedDate"
        (ngModelChange)="getDay()">
      </ion-datetime>
    </ion-item>
  </div>

  <h2>TOTAL INGERIDO: {{ _alimentos.day.consumidoKcal | toFixed }} KCAL</h2>
  <h2 padding-vertical>TOTAL GASTO: {{ _exercicios.totalDay | toFixed }} KCAL</h2>
  <h2 padding-vertical *ngIf="(_alimentos.day.consumidoKcal - _exercicios.totalDay) > 0">TOTAL: {{
    _alimentos.day.consumidoKcal - _exercicios.totalDay | toFixed }} KCAL</h2>

  <ul no-padding>

    <li>
      <span>PROTEÍNA</span>
      <span>{{ _alimentos.day.consumidoProteina | toFixed }}g</span>
    </li>

    <li>
      <span>CARBOIDRATOS</span>
      <span>{{ _alimentos.day.consumidoCarboidratos | toFixed }}g</span>
    </li>

    <li>
      <span>GORDURA</span>
      <span>{{ _alimentos.day.consumidoGordura | toFixed }}g</span>
    </li>
  </ul>
  </div>
  <div class="max-width-600">
    <img src="assets/imgs/fruits.png" [style.height.px]="heightFruits" alt="">
  </div>
</ion-content>
