page-easyfit-nutri-calculo-calorico {

    .scroll-content {
        // background: url(../assets/imgs/fruits.png) bottom left no-repeat;
        // background-size: 50%;
        // @media(min-width: 991px) {
        //   background-size: 30%;
        // }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .max-width-600:nth-of-type(2) {
            margin-top: -40px;
            margin-left: -30px;
            z-index: -1;
            position: relative;
            img {
                object-fit: contain;
                object-position: bottom left;
                display: block;
            }
        }
      }
    
      h2 {
        color: $green;
        font-size: 18px;
        font-weight: 900;
      }
    
      ul {
        list-style: none;
    
        li {
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 16px;
        }
      }
    
      .item-md {
        display: inline-block;
        width: auto;
        padding: 0;
    
        .item-inner {
          display: inline-block;
          padding: 0;
    
        }
    
        .input-wrapper {
          display: inline-block;
          padding: 0;
    
          .label-md {
            text-align: left;
            margin-bottom: 0;
            color: inherit;
            text-transform: uppercase;
          }
    
          .datetime-md {
            opacity: 0;
            width: 1px;
            padding: 0;
            margin: 0;
            height: 0;
          }
        }
      }
    
}
