<!--
  Generated template for the CodigoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header title="Código"></header>
</ion-header>


<ion-content padding>
  <div padding>
    <div class="logo">
      <div class="logo-img"></div>
    </div>
    <div class="certeza">{{ global.informacoes.codigo_titulo }}</div>
    <div class="explicacao" style="white-space: pre-wrap">{{ global.informacoes.codigo_descricao }}</div>
    <div class="insira">
      <span *ngIf="(auth.isPremium())">
        O seu código irá expirar em
        <br>  
       <b style="text-transform: uppercase"> {{ helpers.moment(auth.user.user.premium_expire_at, 'YYYY-MM-DD HH:mm:ss').format('LL') }}</b>
      </span>
      <span *ngIf="(!auth.isPremium()) && auth.user.user.premium_expire_at">
        O seu código expirou em
        <br>
       <b style="text-transform: uppercase;" style="text-transform: uppercase; color: #f53d3d;"> {{ helpers.moment(auth.user.user.premium_expire_at, 'YYYY-MM-DD HH:mm:ss').format('LL') }}</b>
      </span>
    
      <b>INSIRA O CÓDIGO</b>
      <form ion-list (ngSubmit)="onSubmit(form)" #form="ngForm">
        <input type="text" name="code" [(ngModel)]="code" required placeholder="CÓDIGO">

        <button ion-button block margin-top margin-bottom>RESGATAR</button>
      </form>
    </div>
  </div>
</ion-content>
