page-codigo {
    text-align: center;
    .logo {
        width: 200px;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .certeza {
        font-weight: bold;
        width: 90%;
        margin: 20px auto;
        margin-top: 60px;
    }
    .explicacao {
        width: 90%;
        margin: 0 auto;
        font-size: 90%;
        text-transform: uppercase;
        margin-top: 35px;
        color: rgba(0,0,0,.4);
        margin-bottom: 30px;
    }
    .insira {
        b {
            @include themeColor();
            display: block;
            margin-bottom: 20px;
        }
        input {
            @include themeBorderBottom(1);
            height: 50px;
        }
    }
}
