<!--
  Generated template for the ModuloPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <header [title]="_categorias.current?.titulo"></header>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="onRefresher(false)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="certificado-btn" *ngIf="(_categorias.current.conteudos_assistido_count == _categorias.current.conteudos_count) && _categorias.current.certificado" text-center style="font-weight: bold;">
    <div [innerHtml]="global.informacoes?.certificado?.parabens | linkify" style="margin-bottom:10px;white-space: pre-wrap;"></div>
    <button ion-button (click)="certificadosPagarPage()">{{global.informacoes?.certificado?.parabens_btn}} &nbsp; <ion-icon style="font-size:23px;" name="ios-document-outline" style="transform: rotate(90deg);"></ion-icon> </button>
  </div>
  <!-- <h3>{{ _categorias.current.conteudos_assistido_count }}</h3>
  <h3>{{ _categorias.current.conteudos_count }}</h3>
  <h3>{{ _categorias.current.certificado }}</h3> -->
  <div class="easymind-list" padding-horizontal>

    <div #itemsRef class="list-item open">
      <div class="sublist">



        <ng-container *ngFor="let topico of _categorias.current?.topicos">
          <!--mostra somente qndo a lista de topicos > 1 e o titulo for direito do do roteiro-->
          <div class="sublist-item sublist-item-100" *ngIf="_categorias.current?.topicos.length > 1 && topico.titulo != _categorias.current?.titulo">
            <div class="sublist-title sublist-title-upper"><b>{{ topico.titulo }}</b></div>
          </div>
          <sublist-item *ngFor="let subitem of topico.conteudos" [item]="subitem"></sublist-item>

          <ng-container *ngFor="let topico2 of topico.topicos">
            <!--mostra somente qndo a lista de topicos > 1 e o titulo for direito do do roteiro-->
            <div class="sublist-item sublist-item-100">
              <div class="sublist-title"><b>{{ topico2.titulo }}</b></div>
            </div>
            <sublist-item *ngFor="let subitem2 of topico2.conteudos" [item]="subitem2"></sublist-item>


          </ng-container>

        </ng-container>





      </div>
    </div>
  </div>
</ion-content>