page-categorias-conteudos {
    .conteudos {
        display: none;
        @media(min-width:991px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between
        }
        .titulo-topico {
            width: 100%;
            flex: 0 0 100%;
        }
    }
    .duo-list .list-item.open {
        border-bottom: 0;
    }
}