<!--
  Generated template for the AudiosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header title="Áudios"></header>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="onRefresher()">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="easymind-list" padding-horizontal>

    <div class="list-item" *ngFor="let item of audios; let i = index;" [hidden]="!item.temAudio"
      [ngClass]="{'open': item.open}">
      <div class="list-title" cursor-pointer (click)="toggleItem(i)">
        {{ item.titulo }}
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </div>
      <div class="sublist">
        <ng-container *ngFor="let topico of item.topicos">
          <ng-container *ngIf="topico.temAudio">
            <!--mostra somente qndo a lista de topicos > 1 e o titulo for direito do do roteiro-->
            <div class="sublist-item sublist-item-100" *ngIf="item.topicos.length > 1 && topico.titulo != item.titulo">
              <div class="sublist-title sublist-title-upper"><b>{{ topico.titulo }}</b></div>
            </div>
            <sublist-item *ngFor="let subitem of topico.conteudos" [item]="subitem"></sublist-item>


            <ng-container *ngFor="let topico2 of topico.topicos">
              <ng-container *ngIf="topico2.temAudio">
                <!--mostra somente qndo a lista de topicos > 1 e o titulo for direito do do roteiro-->
                <div class="sublist-item sublist-item-100">
                  <div class="sublist-title"><b>{{ topico2.titulo }}</b></div>
                </div>
                <sublist-item *ngFor="let subitem2 of topico2.conteudos" [item]="subitem2"></sublist-item>
              </ng-container>
            </ng-container>

          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ion-content>