<div class="thumbnail" tappable cursor-pointer (click)="playerPage()">
  <img *ngIf="item.vimeo_thumbnail && item.tipo != 'pdf'" [src]="item.vimeo_thumbnail">
  <img *ngIf="item.tipo == 'pdf'" src="assets/icon/pdf-icon.png" class="pdf">
</div>
<div class="info">
  <div class="title" cursor-pointer (click)="playerPage()">{{ item.titulo }}</div>
  <div class="icons">
    <button cursor-pointer (click)="descricao()" *ngIf="item.descricao.length > 4">
      <ion-icon name="md-information-circle" color="primary"></ion-icon>
    </button>
    <img *ngIf="item.dificuldade" [src]="'assets/icon/level-' + item.dificuldade + '.png'" class="level">
    <button>
      <ion-icon name="duo-checkmark" [color]="item.assistido ? 'green' : ''"></ion-icon>
    </button>
    <button>
      <ion-icon name="duo-star" cursor-pointer (click)="favoritar()" [color]="item.favoritado ? 'yellow' : ''"></ion-icon>
    </button>
  </div>

</div>