sublist-item-desktop {
    display: block;
        width: 49%;
        flex: 0 0 49%;
    
    .thumbnail {
        width: 100%;
        position: relative;
        padding-bottom: 57%;
        margin-bottom: 5px;
        display: block;
        overflow: hidden;
        background-color: #f4f4f4;
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            object-fit: cover;
            height: 100%;
            &.pdf {
                object-fit: contain;
                height: 70%;
                top: 15%;
                opacity: .3
            }
        }
    }
    margin-bottom: 10px;
    .info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .title {
            text-overflow: ellipsis;
            font-size: 1em;
            flex-basis: calc(100% - 120px);
            padding-top: 7px;
        }
    
        .icons {

            flex-basis: 120px;
            text-align: right;
            button {
                padding: 2px 6px;
                font-size: 1.1em;
                color: #c4c4c4;
            }
        }
    }

    
}
